<div class="row">
    <div class="col-12">
        <div *ngFor="let item of allDetailsofEvent">
            <button type="button" class="btn btn-primary m-auto" (click)="editEventDeatils(item._id)"
                *ngIf="isCelebrant == 'true'">Edit Event </button>
            <button type="button" class="btn btn-primary m-auto " (click)="deleteEvent(item._id)"
                *ngIf="isCelebrant == 'true'">Delete Event </button>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card p-4">
                            <button type="button" class="btn btn-danger ml-auto mb-2" (click)="myCart(item._id)"
                                *ngIf="isCelebrant == 'false'">My Cart</button>
                            <div [ngStyle]="{background: getSrc(item.eventTheme)}" class="theme-background">
                                <div class="row">
                                    <div class="col-4 m-auto">
                                        <img src="{{path}}{{item.profilePhoto}}" class="rounded-circle img-fluid">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center pt-4">
                                        <p>EventType:-
                                            <span>{{item.eventType}}</span>
                                        </p>
                                    </div>
                                    <div class="col text-center pt-4">
                                        <p>EventTitle:-
                                            <span>{{item.eventTitle}}</span>
                                        </p>
                                    </div>
                                    <div class="col text-center pt-4">
                                        <p>EventHashTag:-
                                            <span>{{item.hashTag}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>EventLink:-
                                            <input #inputTarget [(ngModel)]="eventLink" readonly />
                                            <button [ngxClipboard]="inputTarget" >Copy</button>
                                            <!-- <button (cbOnSuccess)="isCopied = true" [cbContent]="'eventLink'">Copied</button> -->

                                            <!-- <button (cbOnSuccess)="isCopied = true" [cbContent]="'example string'">Copied</button> -->
                                        </p>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 m-auto ">
                                            <div *ngFor="let activity of activityArray" class="card p-5">
                                                <h2 class="text-warning text-center"> Activity:
                                                    {{activity.activityName}}</h2>
                                                <div *ngFor="let group of activity.group">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <h3 class="text-danger">Group: {{group.groupName}}</h3>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <p class="font-weight-bold">Male</p>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <button type="button" class="btn btn-info"
                                                                        (click)="addToCart(group._id, activity.activityId, item._id, group.male,'male')"
                                                                        [disabled]="isDisable"
                                                                        *ngIf="isCelebrant == 'false'">Add
                                                                        To Cart </button>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <p>itemType :{{group.male.itemType}}</p>
                                                                    <p>itemPrice :{{group.male.itemPrice}}</p>
                                                                    <p>itemName :{{group.male.itemName}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <p class="font-weight-bold">Female</p>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <button type="button" class="btn btn-info"
                                                                        (click)="addToCart(group._id, activity.activityId, item._id, group.female,'female')"
                                                                        *ngIf="isCelebrant == 'false'"
                                                                        [disabled]="isDisable">Add
                                                                        To Cart </button>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <p>itemName :{{group.female.itemName}}</p>
                                                                    <p>itemName :{{group.female.itemType}}</p>
                                                                    <p>itemName :{{group.female.itemPrice}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>