<div id="loading" *ngIf="isLoad">
    <img id="loading-image" src="/assets/images/loader.gif" alt="Loading..." />
</div>


<div class="initialStep">
    <section class="eventB_page_section d-flex flex-wrap align-content-center">
        <div class="container-fluid">
            <h3 class="text-center">Aso Ebi</h3>
            <div class="eventB_sec1">
                <div class="overlay-parent-class">
                    <div class="Join_inner_content_box">
                        <div class="all_event_sec">
                            <div class="row">
                                <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                    <a><img src="/assets/images/eventB_icon.png">
                                        <p class="text-white">New Event</p>
                                    </a>
                                </div>
                                <div class="col-9 p-0">
                                    <span class="text-white all_event_name"> Hello {{userName}}</span>
                                </div>
                            </div>
                        </div>
                        <div id="overlay" class="new_event_menu_box" style="display: none;">
                            <div class="">
                                <div class="event_menu">
                                    <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                        <ul>
                                            <li><a routerLink="/home" class="text-white new_event">Home</a></li>
                                            <li><a routerLink="/myEvent" class="text-white new_event">my event</a></li>
                                            <li><a routerLink="/createEvent" class="text-white my_event">new event</a>
                                            </li>
                                            <li><a routerLink="/bankDetails" class="text-white my_account">bank
                                                    account</a></li>
                                            <li><a routerLink="/reset-password" class="text-white my_account">Reset
                                                    Password</a></li>
                                            <li><a (click)="logout()" class="text-white my_account">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="evet_sliding">
                            <div class="event_slider2">
                                <span *ngFor="let item of myEvent">
                                    <div class="slide1">
                                        <div class="slider_box1 text-center m-2">
                                            <button class="event_btn" title="{{item.eventTitle}}"
                                                (click)="singleEventDeatils(item._id)">{{item.eventTitle}}</button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="event_img text-center">
                            <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                src="{{path}}{{singleEventDetails.profilePhoto}}" class="rounded-circle img-fluid">
                        </div>
                        <div class="collect_detail text-center">
                            <!-- <span *ngFor="let item of activityName"> -->
                            <div class="collect1_img" *ngFor="let item of activityName">
                                <div class="collect_img" (click)="activityDetails(eventId,item._id)">
                                    <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                        src="{{path}}{{singleEventDetails.profilePhoto}}">
                                </div>
                                <p class="text-white" title="{{item.activityName}}">{{item.activityName}}</p>
                            </div>
                            <!-- </span> -->
                            <div class="collect1_img" (click)="totalCollection(eventId)" *ngIf="isCelebrant">
                                <div class="collect_img">
                                    <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                        src="{{path}}{{singleEventDetails.profilePhoto}}">
                                </div>
                                <p class="text-center text-white">Collected</p>
                            </div>
                            <div class="collect1_img" *ngIf="isCelebrant">
                                <div class="collect_img" (click)="editEvent(eventId)">
                                    <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                        src="{{path}}{{singleEventDetails.profilePhoto}}">
                                </div>
                                <p class="text-white">Edit Event</p>
                            </div>
                            <div class="collect1_img">
                                <div class="collect_img" (click)="viewMoreDeatils(eventId)">
                                    <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                        src="{{path}}{{singleEventDetails.profilePhoto}}">
                                </div>
                                <p class="text-white">View Event</p>
                            </div>

                            <div class="collect1_img" *ngIf="isCelebrant">
                                <div class="collect_img" (click)="messageEvent(eventId)">
                                    <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                        src="{{path}}{{singleEventDetails.profilePhoto}}">
                                </div>
                                <p class="text-white">Message</p>
                            </div>
                            <div class="collect1_img" *ngIf="isCelebrant">
                                <div class="collect_img" (click)="invitation(eventId)">
                                    <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                        src="{{path}}{{singleEventDetails.profilePhoto}}">
                                </div>
                                <p class="text-white" title="Invited Guestes">Invited Guestes</p>
                            </div>
                            <div class="collect1_img" *ngIf="isCelebrant">
                                <div class="collect_img" (click)="autoMessage(eventId)">
                                    <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                        src="{{path}}{{singleEventDetails.profilePhoto}}">
                                </div>
                                <p class="text-white">Auto Message</p>
                            </div>
                            <div class="collect1_img" *ngIf="isCelebrant">
                                <div class="collect_img" (click)="selectBank(eventId)">
                                    <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                        src="{{path}}{{singleEventDetails.profilePhoto}}">
                                </div>
                                <p class="text-white" title="Select Bank Account">Select Bank Account</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

