.theme-background{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.card{
    background-color: #0909095e !important;
    color: white;
}