<!-- Thank you message with normal form field -->


<!-- Thank you message with use of editor -->

<!-- <form [formGroup]="thankyouMessageForm">
    <div>
        <ckeditor class="ckeditor" [editor]="Editor" formControlName="message" (ready)="onReady($event)"></ckeditor>
    </div>
    <div class="custom-file">
        <input type="file" #attachment formControlName="attachment" class="form-control"
            (change)="addFile($event.target.files)" id="customFile" accept="image/png, image/jpeg, image/jpg, image/gif"
            hidden>
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <button type="button" class="btn btn-primary" (click)="thankyouMessage()">Submit</button>
</form> -->

<div id="loading" *ngIf="isLoad">
    <img id="loading-image" src="/assets/images/loader.gif" alt="Loading..." />
</div>

<!-- New Design implemented -->
<div class="step_one" style="display:none">
    <section class="thanks_page_section thank_you_section d-flex flex-wrap align-content-center">
        <div class="container-fluid">
            <h3 class="text-center">Aso Ebi</h3>
            <div class="add_bank_account">
                <div class="Join_inner_content_box">
                    <div class="event_inner_content">
                        <div class="new_event_sec">
                            <div class="row">
                                <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                    <a href="javascript:void(0)" class="closebtn"><img
                                            src="/assets/images/bank_icon.png">
                                        <p class="text-white">Thank You</p>
                                    </a>
                                </div>
                                <div class="col-9 p-0">
                                    <span class="text-white event_name" *ngIf="userName"> Hello {{userName}} </span>
                                </div>
                            </div>
                        </div>
                        <div id="overlay" class="new_event_menu_box" style="display: none;">
                            <div class="">
                                <div class="event_menu">
                                    <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                        <ul>
                                                <li><a routerLink="/home" class="text-white text-center my_event">Home</a></li>
                                            <li><a routerLink="/myEvent" class="text-white text-center new_event">my
                                                    event</a>
                                            </li>
                                            <li><a routerLink="/createEvent" class="text-white text-center my_event">new
                                                    event</a></li>
                                            <li><a routerLink="/bankDetails"
                                                    class="text-white text-center my_account">bank
                                                    account</a>
                                            </li>
                                            <li><a routerLink="/reset-password"
                                                    class="text-white text-center my_account">Reset
                                                    Password</a></li>
                                            <li><a (click)="logout()"
                                                    class="text-white text-center my_account">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thank-you-close">
                        <button (click)="closeThnakyou()" class="float-right"><i class="fa fa-times"
                                aria-hidden="true"></i></button>
                    </div>
                    <form [formGroup]="thankyouMessageForm" autocomplete="off" class="join_form forgot_pwd_form mt-3">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" formControlName="message"
                                placeholder="Enter Thank you message" style="resize: none;"></textarea>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-12">
                                <input type="file" #attachment formControlName="attachment" class="form-control"
                                    (change)="addFile($event.target.files)" id="file"
                                    accept="image/png, image/jpeg, image/jpg, image/gif" style="display: none;" hidden>
                                <label class="upload_photo" for="file">Upload files</label>
                            </div>
                        </div>
                        <div class="btn_submit_pwd">
                            <button class="btn text-white text-center add_bank_btn submit_btn_pwd text-center"
                                (click)="thankyouMessage()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="step_two">
    <section class="thank_you_sec_font thanks_page_section text-center d-flex flex-wrap align-content-center">
        <div class="container-fluid">
            <h3>Aso Ebi</h3>
            <div class="thanks_sec1">
                <div class="Join_inner_content_box">
                    <div class="inner_content_btn">
                        <div class="thank-you-plus">
                            <button (click)="addThnakyou()" class="float-right"><i class="fa fa-plus"
                                    aria-hidden="true"></i></button>
                        </div>
                        <div class="thankyou_msg m-auto">
                            <div class="thankyou_img text-center">
                                <img src="{{path}}{{eventTheme}}" height="200" class="float-right"
                                    *ngIf="thankYouMessage">
                                <img src="/assets/images/profile_photo.png" *ngIf="!thankYouMessage">
                            </div>
                        </div>
                        <div class="all_msg">
                            <!-- <p class="text-center thankyou_font">Thank You</p> -->
                            <p *ngIf="!thankYouMessage" class="text-center thankyou_font">Sorry you have no message</p>
                            <p class="text-center thankyou_font_msg" *ngIf="thankYouMessage">
                                {{thankYouMessage.message}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- [ngStyle]="{background:thankYouMessage ?  getSrc(thankYouMessage.attachment) : '/assets/images/profile_photo.png'}" -->