@media(max-width: 1366px){
	/*view event responsive css strt*/
	.view_event_section h3 {
		font-size: 40px;
		margin: 8px 0px;
	}
	.profile_pic img{
		width: 80px;
		height: 80px;
	}
	.event_detail_btns a {
		font-size: 16px;
		padding: 3px 25px;
	}
	.event_detail_btns {
		margin-top: 12px; 
	}
	.first_day_activity {
		font-size: 40px;
		margin-top: 8px;
	}
	.group_family {
		font-size: 16px;
	}
	.gender_slide1 h5 {
		font-size: 14.67px;
		line-height: 24px;
	}
	.item_detail p {
		font-size: 12.74px;
		line-height: 24px;
	}
	.add_to_cart_btn a {
		font-size: 12.74px;
		padding: 8px 18px;
		letter-spacing: 1px;
		margin-top: 8px;
	}
	.gender_slide1 {
		padding: 10px;
		margin: 10px 10px 0px 0px;
	}
	.veiw_event_sec{
		padding-top: 40px!important;
	}
	/*view event responsive css end*/
	/*enter screen page responsive css start*/
	.enter_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;
	}
	/*enter screen responsive css end*/
	/*thanks1 page responsive css start*/
	.thanks1_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;
	}
	.thanks_btn a {
		font-size: 18px;
		height: 50px;
		width: 150px;
		line-height: 49px;
	}
	/*thanks 1 responsive css end*/
	/*share  page responsive css start*/
	.share_page_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;
	}
	.share_btn a {
		font-size: 18px;
		height: 50px;
		width: 150px;
		line-height: 49px;
	}
	.all_done_text h5 {
		font-size: 45.17px;
		padding: 5px 0px;
	}
	.all_done_text p {
		font-size: 60px;
	}
	.all_done_text h6 {
		font-size: 18.05px;
	}
	.event_link label {
		bottom: 5px;
	}
	.enter_event_title label{
		font-size: 18px;
	}
	/*share responsive css end*/
	/*all event menu responsive start*/
	#overlay {
		width: 600px;
		height: 525px;
	}
	.event_menu{
		width: 600px;
	}
	.all_menu_content{
		padding: 0px 50px
	}
	.event_menu ul li{
		font-size: 18px !important;
		font-family: 'Russo One', sans-serif;
		padding: 7px 32px;
	}
	/*all event menu responsive start*/
	/*forgot password responsive start*/
	.forgot_pwd_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;
	}
	.forgot_pwd_form {
		margin-top: 20px;
		padding: 0px 50px!important;
	}
	/*forgot password responsive end*/
	/*edit event responsive start*/
	.edit_event_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;
	}
	.edit_event_btn a {
		font-size: 16px;
		line-height: 50px;
		height: 52px;
	}
	/*edit event responsive end*/
	/*join page responsive css start*/
	.join_page1_section h3, .join_page2_section h3 , .join_page3_section h3 , .join_page4_section h3 , .join_page5_section h3  {
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;
	}
	.Join_inner_content_box{
		width: 600px;
		height: 525px
	}
	.join_form h3 {
		font-size: 45px;
		margin-top: 15px;
	}
	.join_form {
		padding: 50px;
	}
	.join_form button {
		font-size: 35px;
	}
	.join_form input, input::-webkit-input-placeholder {
		font-size: 35px!important;
	}
	.join_form input {
		height: 52px;
		margin-top: 22px;
	}
	.user_first_name p{
		font-size: 48px;
	}
	.login_form_sec {
		padding: 5px 50px;
	}
	.inner_content_btn a {
		margin: 50px 50px 30px 50px;
	}
	/*join page responsive css end*/
	/*new event page responsive css end*/
	.new_event_slider button.slick-prev {
		left: 7%;
	}
	.new_event_slider button.slick-next {
		left: 10%;
	}
	.new_event_slider ul.slick-dots {
		padding: 0px 45px 0px 10px;
	}
	.event_inner_content {
		padding: 0px 50px;
	}
	.event_slider_section h3 {
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;
	}
	.event_inner_content_box, .new_event_slider{
		width: 600px;
		height: 525px;
	}
	.new_event_sec .event_name {
		font-size: 48px;
		margin-left: -12px;
	}
	.select_event_type a {
		font-size: 16.83px;
		padding: 5px 30px;
	}
	.select_event_type .list-group-item.active:after {
		top: 25px;
	}
	.enter_event_title input {
		height: 52px;
	}
	.select_registry select {
		height: 52px;
	}
	.yes_no_btn a {
		font-size: 15.29px;
		line-height: 45px;
		padding: 0px 0px;
	}
	.profile_event_sec .profile_photo {
		margin-top: 5px;
	}
	.profile_event_sec .profile_event p {
		font-size: 32px;
	}
	.profile_event_sec .profile_hashtag p {
		font-size: 22px;
	}
	.profile_event_sec .profile_content ul {
		padding: 15px 0px; 
	}
	.preffered_option p {
		font-size: 20px;
		padding: 10px 0px;
	}
	.preffered_option h6 {
		font-size: 14.83px;
	}
	.cash_option {
		margin-top: 15px;
	}
	.select_registry {
		margin-top: 10px;
	}
	.yes_no_btn {
		margin-top: 15px;
	}
	.event_bank_detail .event_hashtag p {
		font-size: 22px;
		margin-top: 5px;
	}
	.slider1 p {
		font-size: 14px;
	}
	.event_bank_detail .slider_box1 {
		padding: 8px 8px 25px 8px;
	}
	.event_bank_detail label {
		font-size: 18px;
	}
	.new_event_sec {
		padding-top: 50px;
	}
	/*new event responsive css end*/
	/*forgot password responsive css end*/
	.btn_submit_pwd a {
		height: 52px;
		line-height: 52px;
	}
	/*forgot password responsive css end*/
	/*enter screen responsive css end*/
	.login_form a {
		font-size: 14px;
		line-height: 35px;
	}
	/*enter screen responsive css end*/
	/*collection screen slider responsive start*/
	.new_event_sec span {
		font-size: 48px;
		margin-left: -22px;
	}
	.collection_slider_section .event_inner_content_box {
		width: 600px;
		height: 525px;
	}
	.collection_slider_section h3 {
		margin-bottom: 0px; 
		margin-top: -45px;
		font-size: 48px;
	}
	.collection_slider_section .inner_content_btn a {
		margin: 14px;
		width: 155px;
		text-transform: unset;
		font-size: 18px;
		height: 40px;
		line-height: 40px;
	}
	.collection_slider button.slick-prev {
		left: 30%;
		top: 23.5%;
	}
	.collection_slider button.slick-next {
		right: 30%;
		bottom: 65%;
	}
	.collection_slider_section .new_event_sec {
		padding-top: 40px;
	}
	.number {
		margin: 12px 0px !important;
	}
	.collection_slider_section .inner_box_content {
		font-size: 15.67px !important;
		padding: 12px;
		height: 185px;
	}
	.inner_box_content .inner_title h3 {
		font-size: 18.83px !important;
		margin-bottom: 8px;
	}
	.collection_slider_section [type="radio"]:checked + label:after,
	.collection_slider_section [type="radio"]:not(:checked) + label:after {
		width: 8px;
		height: 8px;
	}
	.collection_slider_section [type="radio"]:checked + label:before,
	.collection_slider_section [type="radio"]:not(:checked) + label:before {
		width: 21px;
		height: 21px;
	}
	.collection_slider_section [type="radio"]:checked + label,
	.collection_slider_section [type="radio"]:not(:checked) + label
	{
		line-height: 22px;
	}
	.gender_list {
		padding: 6px 0px;
	}
	.collection_slider {
		height: 525px;
	}
	.scroll_content {
		height: 185px;
	}
	.slide_five .gender_list p {
		line-height: 26px;
	}
	.collection_slider .scroll_content {
		padding: 6px 0px !important;
		height: 185px;
	}
	.slide_five .gender_list {
		padding: 9px 0px;
	}
	.scrollbar-rail > .scroll-element div {
		height: 160px;
	}
	/*collection screen slider responsive end*/
	/*new event page without slider start*/
	/*add_event page start*/
	.name_page_section .name_tgl_btn {
		padding: 45px 50px 0px 50px;
	}
	.all_event_sec .all_event_name {
		font-size: 48px;
		margin-left: -12px;
	}
	.all_event_sec{
		padding: 50px 50px 15px 50px;
	}
	.name_page_section .name_ceremony {
		padding: 0px 50px;
	}
	.name_page_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;	
	}	
	/*add_event page end*/

	/*msg page start*/
	.msg_page_section .msg_tgl_btn {
		padding: 45px 50px 0px 50px;
	}
	.msg_page_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;	
	}
	.msg_page_section .event_btns a {
		font-size: 17.83px;
		width: 155px;
	}
	.msg_page_section .event_btns1 a{
		font-size: 17.83px;
	}
	.msg_page_section .event_btns1 {
		padding: 0px 50px;
	}
	.msg_page_section .event_btns {
		padding: 0px 50px;
		padding-top: 25px;
	}
	.msg_slug p {
		margin-top: 20px;
	}
	/*msg page end*/

	/*event1 page start*/
	.event1_page_section .gendar{
		padding: 12px 50px;
	}
	.event1_page_section .event_item {
		padding: 0 50px;
	}
	.event1_page_section button.save_btn {
		font-size: 22px;
		padding: 8px 40px;
		margin: 12px 50px;
	}
	.event1_page_section .event_add {
		padding: 0 50px;
	}
	.event1_page_section .event_ceremony {
		padding: 5px 50px;
	}
	.event1_page_section .event1_btns {
		padding: 0px 50px;
	}
	.event1_page_section .event1_tgl_btn {
		padding: 45px 50px 0px 50px;
	}
	.event1_page_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;	
	}
	.event1_page_section a.event_family {
		width: 139px;
	}
	.event1_page_section .event_ngn label {
		margin-left: 190px;
	}
	/*event1 page end*/


	/*event slider page start*/
	.slider_page_section .select_date input {
		height: 52px;
	}
	.slider_page_section .gender_slide {
		padding: 8px;
	}
	.slider_page_section .NGN label, .item_name, .slider_page_section .gender_slide h5 {
		font-size: 14px;
	}
	.slider_page_section .event_detail h6 {
		font-size: 22px; 
	}
	.slider_page_section .slider_tgl_btn {
		padding: 45px 50px 0px 50px;
	}
	.slider_page_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;	
	}
	.slider_page_section .ceremony1 a, .ceremony2 a, .ceremony3 a {
		width: 136px;
	}
	.slider_page_section .select_date {
		padding: 0 50px;
	}
	.slider_page_section .freind_family {
		padding: 0 50px;
	}

	/*event_slider end*/

	/*thanks start*/
	.thanks_page_section .thanks_head p {
		padding-top: 120px;
	}
	.thanks_page_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;	
	}
	.thanks_page_section img.close_img {
		top: -47px;
		height: 30px;
		width: 30px;
	}
	/*new event page without slider end*/
	/*aso ebi event pages css start*/
	/*eventA page start*/
	.eventA_page_section h3, .eventB_page_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;	
	}	
	.eventA_page_section .evet_sliding, .eventB_page_section .evet_sliding {
		padding: 12px 50px;
	}
	.eventA_page_section .collected {
		padding: 6px 50px;
	}
	.collect_detail {
		padding: 5px 50px;
	}
	.collect_detail .collect_img {
		width: 73px;
	}
	.eventA_page_section button.event_btn, .eventB_page_section button.event_btn, .eventC_page_section button.event_btn {
		font-size: 16px;
	}
	.event_img img {
		height: 100px;
	}
	/*eventA page end*/

	/*eventC page start*/
	.eventC_page_section h3{
		font-size: 48px;
		margin-top: 0px;
		margin-bottom: 0px;	
	}	
	.eventC_page_section .evet_sliding, .eventD_page_section .evet_sliding, .eventD_page_section .eventD_input {
		padding: 0px 50px;
	}
	.eventC_page_section .event_activity p {
		font-size: 16px;
	}
	.eventC_page_section .eventC_gendar {
		padding-top: 10px;
	}
	.eventC_page_section button.event_btn, .eventD_page_section button.event_btn {
		font-size: 16px;
		padding: 6px 52px;
	}
	/*eventC page end*/

	/*eventD page start*/
	.eventD_page_section h3{
		font-size: 48px;
		margin-top: -48px;
		margin-bottom: 0px;	
	}	
	.eventC_page_section #overlay1, .eventD_page_section #overlay1, .eventE_page_section #overlay1{
		height: 645px;
		width: 600px;	
	}
	.eventC_page_section .Join_inner_content_box, .eventD_page_section .Join_inner_content_box, .eventE_page_section .Join_inner_content_box{
		height: 645px;
		width: 600px;
	}
	.eventD_page_section .eventD_detail, .eventC_page_section .eventC_item{
		padding: 0px 50px;
	}
	.eventD_page_section input.event_aso{
		height: 55px;
	}
	.eventD_page_section .eventD_btn, .eventC_page_section .event_button {
		padding: 5px 50px;
	}
	.eventC_page_section input[type=radio]{
		margin-left: 50px;
	}
	.eventC_page_section .event_activity{
		padding: 17px 50px 7px 50px;	
	}
	.eventD_page_section button.eventD_share {
		font-size: 17px;
	}
	.eventD_page_section h3{
		margin-top: 0px;
	}
	.eventD_page_section button.event_plus{
		padding: 6px 13px;
	}
	.eventD_page_section button.event_invitation{
		padding: 6px 27px;	
	}
	/*eventD page end*/

	/*eventE page start*/
	.eventE_page_section h3{
		font-size: 48px;
		margin-top: 0px;
		margin-bottom: 0px;	
	}	
	.eventE_page_section .evet_sliding {
		padding: 5px 50px;
	}
	.eventE_page_section button.event_btn{
		padding: 8px 42px;	
	}
	.eventE_page_section .eventE_media {
		padding: 0 70px;
	}
	.eventE_page_section .event_channel {
		padding: 2px 50px 2px 50px;
	}
	/*eventE page end*/

	/*eventF page start*/
	.eventF_page_section h3{
		font-size: 48px;
		margin-top: 0px;
		margin-bottom: 0px;	
	}	
	.eventF_page_section .Join_inner_content_box {
		height: 670px;
		width: 600px;
	}
	.eventF_page_section #overlay1 {
		height: 670px;
		width: 600px;
	}
	.eventF_page_section .evet_sliding {
		padding: 10px 50px;
	}
	.eventF_page_section .eventF_btn, .eventF_at, .eventF_to {
		padding: 1px 50px;
	}
	.eventF_page_section .eventF_pera {
		padding: 5px 50px;
	}
	.eventF_page_section .eventF_send {
		padding: 5px 50px;
	}
	.eventF_page_section button.event_btn{
		padding: 5px 52px;
		font-size: 16px;
	}
	.eventF_page_section button.invitation{
		width: 100px;
		font-size: 14px;
		height: 40px;
	}
	.eventF_page_section button.eventF_save{
		font-size: 15px;
		padding: 5px 25px;
	}
	.eventF_page_section .eventF_send input{
		font-size: 16px;
	}
	.eventF_page_section .eventF_at input{
		width: 23px;
		height: 23px;
	}
	.eventF_page_section button.plus{
		height: 40px;
	}
	/*aso ebi event pages css end*/
}
@media(max-width: 1199px){
	/*new event responsive css start*/
	.event_slider_section h3 {
		font-size: 48px;
		margin-top: 44px;
		margin-bottom: 18px;
	}
	/*new event responsive css end*/
	/*new event page without slider start*/
	/*msg start*/
	.msg_page_section .event_btns a{
		font-size: 15.83px;
		width: 157px;
	}
	.msg_page_section .event_btns1 a{
		font-size: 13.83px;
		width: 157px;
	}

	/*msg end*/
	/*event1 page start*/
	.event1_page_section a.event_family {
		width: 137px;
	}
	.event1_page_section .event_ngn label{
		margin-left: 195px;
	}

	/*event_slider page start*/
	.slider_page_section .ceremony1 a, .ceremony2 a, .ceremony3 a {
		width: 136px;
	}
	.slider_page_section .freind_family .form-check-inline {
		margin-right: 20px; 
	}
	/*new event page without slider end*/

}
@media(max-width: 767px){
	/*view event responsive css strt*/
	.event_title, .event_type {
		margin-right: 5px;
	}
	.view_event_section h3 {
		font-size: 32px;
		margin: 5px 0px;
	}
	.profile_pic img{
		width: 65px;
		height: 65px;
	}
	.event_detail_btns a {
		font-size: 14px;
		padding: 4px 20px;
	}
	.first_day_activity {
		font-size: 36px;
		margin-top: 10px;
	}
	.item_detail p {
		font-size: 11.74px;
		line-height: 24px;
	}
	.add_to_cart_btn a {
		font-size: 11.74px;
		padding: 8px 20px;
		letter-spacing: 0px;
	}
	/*view event responsive css end*/
	/*forgot password responsive start*/
	.forgot_pwd_form {
		padding: 0px 50px!important;
	}
	.btn_submit_pwd a {
		font-size: 22px;
		line-height: 55px;
		height: 52px;
	}
	.event_menu ul li {
		padding: 8px 24px;
		font-size: 16px!important;
	}
	/*forgot password responsive end*/
	/*all event menu responsive start*/
	.all_menu_content {
		padding: 0px 30px 0px 90px;
	}
	/*all event menu responsive end*/
	/*share responsive css start*/
	.all_done_text h5 {
		font-size: 38.17px;
	}
	.all_done_text h6 {
		font-size: 16.05px;
	}
	/*share responsive css end*/
	/*home page responsive css start*/
	.inner_content_box{
		width: 500px;
		padding: 15px;
	}
	.home_slider {
		width: 500px;
	}
	.join_form {
		padding: 50px;
	}
	.green_slide .inner_content_box h3 {
		font-size: 42px;
		margin-top: 10px;
		height:360px;
	}
	.pink_slide .inner_content_box h3 {
		font-size: 42px;
		margin-top: -10px;
	}
	.orange_slide .inner_content_box h3 {
		font-size: 42px;
	}
	.orange_slide .inner_content_box h2 {
		font-size: 42px;
	}
	.orange_slide .inner_content_box img {
		margin: -20px auto 20px;
	}
	.green_slide .inner_content_box img {
		margin: 200px auto auto;
	}
	/*home page responsive css end*/
	/*join page responsive css start*/
	.Join_inner_content_box{
		width: 520px;
	}
	.email_sec {
		padding: 24px 3px;
	}
	.facebook_sec span, .microsoft_sec span, .yahoo_sec span, .google_sec span {
		font-size: 15px;
	}

	/*join page responsive css end*/
	/*new event responsive css start*/
	.new_event_slider ul.slick-dots {
		padding: 0px 45px 0px 10px;
	}
	.new_event_slider button.slick-prev {
		left: 8%;
	}
	.new_event_slider button.slick-next {
		left: 12%;
	}
	.event_inner_content_box, .new_event_slider{
		width: 520px;
	}
	.slider1 p {
		font-size: 12px;
	}
	.new_event_slider {
		width: 520px;
	}
	.new_event_sec .event_name {
		font-size: 32px;
		margin-left: -8px;
	}
	.make_event_private p, .public {
		font-size: 16px;
		font-family: 'Russo One', sans-serif;
	}
	.font_style a {
		font-size: 14.67px;
		padding: 12px 16px;
	}
	.prising_list p {
		font-size: 16.85px;
		line-height: 30px;
	}
	.event_bank_detail .plus_add img {
		right: 6px;
	}
	/*new event responsive css end*/
	/*new thanks responsive css end*/
	.about_aso_ebi p {
		font-size: 18px;
	}
	.about_aso_ebi{
		margin-top: 20px;
	}
	/*new thanks responsive css end*/
	/*collection screen slider responsive start*/
	.collection_slider_section h3 {
		font-size: 50.33px;
	}
	.collection_slider_section .event_inner_content_box {
		width: 520px;
	}
	.collection_slider{
		width: 520px;
	}
	.collection_slider_section .new_event_sec span {
		font-size: 39px;
	}
	.collection_slider_section .inner_content_btn a {
		width: 145px;
	}
	.collection_slider button.slick-prev {
		left: 26%;
	}
	.collection_slider button.slick-next {
		right: 26%;
	}
	.collection_slider_section .event_inner_content {
		width: 100%;
		padding: 0px 50px;
	}
	.number ,
	.inner_box_content .inner_title h3 {
		font-size: 17.33px !important;
	}
	.collection_slider ul.slick-dots {
		left: 23%;
	}
	/*collection screen slider responsive end*/
	/*new event page without slider start*/
	/*msg start*/
	.msg_page_section .event_btns a{
		font-size: 11.83px;
		width: 130px;
	}
	.msg_page_section .event_btns1 a{
		font-size: 11.83px;
		width: 130px;
	}
	.all_event_sec .all_event_name {
		font-size: 32px;
		margin-left: -8px;
	}

	/*msg end*/

	/*add_event page start*/

	.ceremony1 p, .ceremony2 p{
		padding: 7px 85px 7px 29px;
	}
	/*add_event page end*/

	/*event1 page start*/

	.event1_page_section a.event_plus{
		width: 52px;
	}
	.event1_page_section a.event_family {
		width: 118px;
	}
	.event1_page_section .event_ngn label {
		margin-left: 110px;
	}
	/*event1 page end*/

	/*event_slider page start*/
	.slider_page_section .all_ceremony_btn {
		padding: 0 19px;
	}
	.slider_page_section .freind_family .form-check-inline {
		margin-right: 0px;
	}

	/*new event page without slider end*/
	/*aso ebi event pages css start*/
	/*eventC page start*/
	.eventC_page_section .eventC_btn {
		padding: 7px 30px;
	}
	/*eventC page end*/

	/*eventD page start*/
	.eventC_page_section .Join_inner_content_box, .eventD_page_section .Join_inner_content_box, .eventE_page_section .Join_inner_content_box, .eventf_page_section .Join_inner_content_box {
		width: 520px;
	}
	.eventC_page_section #overlay1, .eventD_page_section #overlay1, .eventE_page_section #overlay1, .eventf_page_section #overlay1 {
		width: 520px;
	}
	.eventD_page_section button.event_invitation {
		padding: 6px 15px;
	}
	.eventD_page_section button.event_payment{
		padding: 6px 23px;	
	}
	.eventD_page_section button.eventD_share{
		padding: 8px 25px;
	}
	/*eventD page end*/

	/*eventE page start*/
	.eventE_page_section .event_guest span{
		font-size: 16px;
	}
	.eventE_page_section button.event_btn, .eventE_page_section .event_channel p{
		font-size: 16px;
	}
	.eventE_page_section .eventE_media{
		padding: 0 36px;
	}
	.eventE_page_section .eventE_media img{
		height: 36px;
	}
	.eventE_page_section .event_channel{
		padding: 2px 60px 2px 60px;
	}
	/*aso ebi event pages css end*/
}
@media(max-width: 575px){
	/*view event responsive css strt*/
	.veiw_event_sec {
		padding-top: 15px!important;
	}
	.event_detail_btns a {
		padding: 2px 16px;
	}
	.event_detail_btns {
		margin-top: 8px;
	}
	.first_day_activity {
		font-size: 30px;
		margin-top: 3px;
	}
	.group_family {
		font-size: 14px;
	}
	.gender_slide1 {
		padding: 7px;
		margin: 7px 7px 0px 0px;
	}
	.item_detail p {
		font-size: 11px;
		line-height: 20px;
	}
	.gender_slide1 h5 {
		font-size: 12px;
		line-height: 22px;
	}
	.add_to_cart_btn a {
		font-size: 10.74px;
	}
	/*view event responsive css end*/
	/*new thanks responsive css end*/
	.thanks_btn a{
		width: 130px;
		height: 40px;
		font-size: 16px;
		line-height: 40px;
	}
	/*new thanks responsive css end*/
	/*event menu responsive start*/
	.event_menu{
		width: 100%;
	}
	.all_menu_content{
		padding: 0px 15px
	}
	#overlay {
		/*max-width: 545px;*/
		width: 100%;
		height: 385px;
		/*left: 15px;*/
		/*right: 15px;*/
	}
	/*event menu responsive end*/
	/*forgot password responsive start*/
	.forgot_pwd_section h3{
		font-size: 42px;
		margin-bottom: 20px;
		margin-top: -40px;
	}
	.btn_submit_pwd a {
		font-size: 18px;
		line-height: 47px;
		height: 45px;
	}
	.forgot_pwd_form {
		padding: 0px 15px!important;
	}
	/*forgot password responsive end*/
	/*share responsive css start*/
	.all_done_text p {
		font-size: 44px;
	}
	.all_done_text h5 {
		font-size: 26.17px;
	}
	.all_done_text h6 {
		font-size: 13.05px;
	}
	.enter_event_title label {
		font-size: 16px;
	}
	.share_btn a{
		width: 130px;
		height: 40px;
		font-size: 16px;
		line-height: 40px;
		margin-top: 15px;
	}
	/*share responsive css end*/
	/*edit event responsive start*/
	.login_form a {
		font-size: 12px!important;
		line-height: 35px!important;
	}
	.edit_event_section h3{
		font-size: 42px;
		margin-bottom: 20px;
		margin-top: -40px;
	}
	.edit_event_btn a {
		font-size: 16px;
		line-height: 45px;
		height: 45px;
	}
	.edit_info.col-sm-6{
		padding-right: 15px!important;
	}
	.delete_info.col-sm-6{
		padding-left: 15px!important;
	}
	/*edit event responsive end*/
	/*home page responsive css start*/
	.two_btn_div a {
		font-size: 14px;
		height: 36px;
		width: 115px;
		line-height: 40px;
		margin: 0px 2px;
	}
	.green_slide .inner_content_box h3 {
		font-size: 30px;
		margin-top: 5px;
	}
	.inner_content_box {
		width: 100%;
		padding: 15px;
		height:380px;
	}
	.home_slider {
		width: 100%;
		height:380px;
	}
	.yellow_slide .inner_content_box h3 {
		font-size: 35px;
	}
	.orange_slide .inner_content_box h2 {
		font-size: 28px;
	}
	.orange_slide .inner_content_box h3 {
		font-size: 30px;
		margin: 3px 0px 10px;
	}
	.green_slide .inner_content_box img {
		margin: 240px auto auto;
		width: 150px;
	}
	.orange_slide .inner_content_box img {
		margin: -25px auto 15px;
		width: 100px;
	}
	/*enter screen responsive start*/
	.enter_section h3{
		font-size: 42px;
		margin-bottom: 20px;
		margin-top: -40px;
	}
	.event_bank_detail .slider_box1 {
		margin-right: 0px;
	}
	/*enter screen responsive end*/
	/*home page responsive css end*/
	/*all join page responsive start*/
	.join_page1_section h3, .join_page2_section h3, .join_page3_section h3, .join_page4_section h3, .join_page5_section h3{
		font-size: 42px;
		margin-bottom: 20px;
		margin-top: -40px;
	}
	.inner_content_btn a {
		font-size: 14px;
		height: 36px;
		width: 115px;
		line-height: 40px;
		margin: 15px 15px 5px 15px;
	}
	.Join_inner_content_box{
		height: 385px;
		width: 100%;
	}
	.join_form button{
		font-size: 30px;
	}
	.join_form input{
		height: 45px;
		margin-top: 20px;
	}
	.join_form input, input::-webkit-input-placeholder {
		color: #fff!important;
		font-size: 24px!important;
	}
	.join_form h3 {
		font-size: 32px;
		margin-top: 20px;
	}
	.join_form {
		padding: 15px;
	}
	.user_first_name p {
		font-size: 30px;
		padding: 15px 5px 5px 10px;
	}
	.email_display{
		display: none;
	}
	.facebook_sec span, .microsoft_sec span, .yahoo_sec span, .google_sec span {
		font-size: 11px;
	}
	.facebook_sec img, .microsoft_sec img, .yahoo_sec img, .google_sec img {
		height: 30px;
		width: 30px;
		margin-top: -5px;
	}
	.facebook_sec {
		margin: 0px 10px 5px 15px;
		padding: 5px 7px;
		height: 45px;
	}
	.microsoft_sec {
		margin: 5px 10px 0px 15px;
		padding: 5px 7px;
		height: 45px;
	}
	.google_sec {
		margin: 0px 15px 5px 0px;
		padding: 5px 7px;
		height: 45px;
	}
	.yahoo_sec {
		margin: 5px 15px 0px 0px;
		padding: 5px 7px;
		height: 45px;
	}
	.login_form_sec {
		padding: 10px 15px; 
	}
	.col-10.social_media_login{
		margin: auto;
	}
	.facebook_sec , .microsoft_sec {
		margin-: 0px;
	}
	.join_form a {
		font-size: 20px;
		height: 45px;
		line-height: 50px;
	}
	/*join page responsive end*/
	/*new event responsive page start*/
	.new_event_slider{
		height: 525px;
		width: 600px;
	}
	.new_event_slider button.slick-prev, .new_event_slider button.slick-next {
		font-size: 25px;
	}
	.new_event_slider ul.slick-dots {
		bottom: 8%;
	}
	.new_event_slider ul.slick-dots button {
		height: 3px;
		width: 16px;
	}
	.new_event_slider button.slick-prev {
		left: 1%;
		bottom: 3.9%;
	}
	.new_event_slider button.slick-next {
		left: 5.2%;
		bottom: 3.9%;
	}
	.new_event_sec .event_name {
		font-size: 24px;
		margin-left: -18px;
	}
	.select_event_type a {
		font-size: 14px;
		padding: 4px 20px;
	}

	.font_style a {
		font-size: 14px;
		padding: 12px 10px;
	}
	.profile_event_sec .profile_hashtag p {
		font-size: 16px;
		margin-top: 5px;
	}
	.profile_photo img {
		height: 130px;
		height: 130px;
	}

	.profile_event_sec .profile_content ul li {
		padding: 0px 14px;
		font-size: 12px;
	}
	.select_pic .back_hashtag p {
		font-size: 16px;
		margin-top: 5px;
	}
	.select_pic .back_event p {
		font-size: 22px;
	}
	.profile_event_sec .profile_event p {
		font-size: 22px;
	}
	.new_event_sec img{
		height: 35px;
		width: 35px;
	}
	.Pricing_tip p {
		font-size: 22px;
	}
	.new_event_slider ul.slick-dots {
		padding: 0px 15px 0px 5px;
	}
	.event_inner_content {
		padding: 0px 15px;
	}
	.new_event_sec {
		padding-top: 15px;
	}
	.enter_event_title input {
		height: 45px;
	}
	.enter_event_title h6 {
		font-size: 18px;
		letter-spacing: 0px; 
	}
	.event_slider_section h3 {
		font-size: 42px;
		margin-bottom: 10px;
		margin-top: -60px;
	}
	.event_inner_content_box, .new_event_slider{
		height: 385px;
		width: 100%;
	}
	.new_event_sec p {
		font-size: 13.67px;
		line-height: 25px;
	}
	.back1 img{
		width: 70px;
		height: 69px;
	}
	.all_back_img .col-sm-3{
		padding-right: 3px;
	}
	.all_back_img .row {
		flex-wrap: unset;
	}
	.all_back_img {
		margin-top: 15px;
	}
	.back1 p {
		font-size: 14px;
	}
	.preffered_option p {
		font-size: 14px;
		padding: 5px 0px;
	}
	.preffered_option h6 {
		font-size: 11.83px;
	}
	.container {
		font-size: 14px;
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 18px;
		width: 18px;
		background-color: #transparent;
	}
	.container input ~ .checkmark {
		margin-top: 1px; 
	}
	.container .checkmark:after {
		left: 4px;
		top: 2px;
		width: 4px;
		height: 8px;
	}
	.select_registry select {
		height: 45px;
		font-size: 24px;
		padding: 0px 15px;
	}
	.yes_no_btn {
		margin-top: 10px;
	}
	.yes_no_btn a {
		font-size: 12.29px;
		line-height: 36px;
	}
	.enter_event_title p {
		font-size: 16.83px;
	}
	.plus_add img{
		height: 20px;
		width: 20px;
	}
	.event_bank_detail .plus_add img {
		right: 15px;
	}
	.event_bank_detail label {
		font-size: 14px;
	}
	.event_bank_detail .event_hashtag p {
		font-size: 16px;
		margin-top: 5px;
	}
	.event_bank_detail .plus_add img {
		bottom: -32px;
	}
	.enter_event_title p {
		font-size: 15.83px;
	}
	.switch {
		width: 58px;
		height: 25px;
	}
	.slider:before {
		height: 18px;
		width: 18px;
		left: 3px;
		bottom: 2px;
	}
	.prising_list p {
		padding-left: 50px;
	}
	/*new event responsive end*/
	/*edit event responsive start*/
	.edit_event_btn a {
		margin-bottom: 8px;
	}
	/*edit event responsive end*/
	/*collection screen responsive start*/
	.collection_slider_section #overlay{
		width: 100%;
		height: 525px!important;
	}
	.collection_slider_section .event_inner_content_box {
		width: 100%;
	}
	.collection_slider_section .new_event_sec {
		padding-top: 15px;
	}
	.collection_slider{
		width: 100%;
	}
	.collection_slider_section .event_inner_content {
		width: 100%;
		padding: 0px 15px;
	}
	.collection_slider_section .new_event_sec span {
		font-size: 32px;
	}
	.collection_slider_section .slick-slide .new_event_sec img {
		display: inline;
		max-height: 42px;
	}
	.collection_slider_section .new_event_sec span {
		font-size: 33.17px;
		margin-left: -25px;
	}
	.collection_slider button.slick-prev {
		top: 16%;
		left: 23%;
	}
	.collection_slider button.slick-next {
		bottom: 72%;
		right: 23%;
	}
	.collection_slider_section form .col-3 {
		max-width: 31%;
	}
	.collection_slider_section .inner_content_btn a {
		width: 135px;
	}
	.slide_five .gender_list p {
		line-height: 24px;
	}
	/*collection screen slider responsive end*/
	/*new event page without slider start*/
	/*msg start*/
	.msg_page_section .event_btns {
		padding: 0px 15px;
		padding-top: 25px;
	}
	.all_event_sec .all_event_name {
		font-size: 24px;
		margin-left: -18px;
	}
	.all_event_sec img{
		height: 35px;
		width: 35px;
	}
	.all_event_sec{
		padding: 15px 15px 0px 15px;
	}
	.all_event_sec p {
		font-size: 13.67px;
		line-height: 25px;
	}
	.msg_page_section .msg_tgl_btn {
		padding: 15px 15px 0px 15px;
	}
	.msg_page_section h3{
		font-size: 42px;
		margin-bottom: 20px;
		margin-top: -40px;
	}
	.msg_slug p{
		text-align: center;
	}
	.msg_page_section .event_btns1 {
		padding: 0px 15px;
	}
	/*msg end*/

	/*add_event page start*/
	.name_page_section .name_tgl_btn {
		padding: 15px 15px 0px 15px;
	}
	.name_page_section .name_ceremony {
		padding: 0px 15px;
	}
	.name_page_section h3{
		font-size: 42px;
		margin-bottom: 20px;
		margin-top: -40px;
	}
	.name_page_section .Join_inner_content_box{
		height: 385px;
	}
	.name_page_section .name_hashtag p {
		font-size: 16px;
		margin-top: 5px;
	}
	.name_page_section .name_event p {
		font-size: 26px;
	}
	/*add_event page end*/

	/*event1 page start*/
	.event1_page_section .event_item {
		padding: 0 15px;
	}
	.event1_page_section .event_ceremony p {
		font-size: 16px;
	}
	.event1_page_section .event1_btns a {
		font-size: 14px;
		height: 32px;
		line-height: 34px;
	}
	.event_add img{
		height: 20px;
		width: 20px;
	}
	.event1_page_section .gendar{
		padding: 5px 15px;
	}
	.event1_page_section button.save_btn {
		font-size: 16px;
		padding: 5px 25px;
		margin: 5px 15px;
	}
	.event1_page_section .event_ceremony {
		padding: 5px 15px;
	}
	.event1_page_section a.event_family {
		width: 100px;
	}
	.event1_page_section .event1_btns {
		padding: 0px 15px;
	}
	.event1_page_section .event1_tgl_btn {
		padding: 15px 15px 0px 15px;
	}
	.event1_page_section h3{
		font-size: 42px;
		margin-bottom: 20px;
		margin-top: -40px;
	}
	.event1_page_section .event_add {
		padding: 0 15px;
	}
	.event1_page_section a.event_plus {
		width: 45px;
	}
	/*event1 page end*/

	/*slider page start*/
	.slider_page_section .slider_tgl_btn {
		padding: 15px 15px 0px 15px;
	}
	.slider_page_section h3{
		font-size: 42px;
		margin-bottom: 20px;
		margin-top: -40px;
	}
	.slider_page_section .ceremony1 a, .ceremony2 a, .ceremony3 a {
		width: 126px;
	}
	.slider_page_section .all_ceremony_btn {
		padding: 0 15px;
	}
	.slider_page_section .select_date input {
		height: 45px;
	}
	.slider_page_section .event_detail h6 {
		font-size: 16px;
	}
	.slider_page_section .ceremony1 a, .ceremony2 a, .ceremony3 a {
		width: 115px;
		height: 34px;
		font-size: 16px;
		line-height: 32px;
	}

	.slider_page_section .select_date {
		padding: 0 15px;
	}
	.slider_page_section .plus a {
		width: 30px;
		height: 34px;
		font-size: 16px;
		line-height:32px;
	}
	.slider_page_section .event_detail {
		margin-top: 5px; 
	}
	.slider_page_section .freind_family {
		padding: 0 15px;
	}
	.slider_page_section .all_ceremony_btn ul li {
		list-style: none;
		display: inline-block;
		padding: 5px 3px 5px 0px;
	}
	.slider_page_section .NGN label, .item_name, .slider_page_section .gender_slide h5 {
		font-size: 12px;
	}
	.slider_page_section .select_item, .plus_icon {
		margin-top: 2px;
	}
	.slider_page_section .gender_slide {
		padding: 8px 8px 0px 8px;
	}
	/*event_slider page end*/

	/*thanks start*/
	.thanks_page_section .thanks_head p {
		font-size: 70px;
		padding-top: 95px;
	}
	.thanks_page_section .thanks_slug p {
		font-size: 18px;
	}
	.thanks_page_section h3{
		font-size: 42px;
		margin-bottom: 20px;
		margin-top: -40px;
	}
	.thanks_page_section img.close_img {
		top: -60px;
	}
	/*thanks end*/
	/*new event page without slider end*/
	/*aso ebi event pages css start*/
	/*eventA page start*/
	.eventA_page_section .evet_sliding, .eventB_page_section .evet_sliding, .eventC_page_section .evet_sliding{
		padding: 4px 15px;
	}
	.eventA_page_section .collected {
		padding: 6px 15px;
	}
	.collect_img img {
		height: 56px;
	}
	.collect_detail .collect_img p {
		font-size: 11px;
	}
	.collect_detail {
		padding: 5px 15px;
	}
	.eventA_page_section button.event_btn {
		font-size: 13px;
	}
	.eventA_page_section .collected p {
		font-size: 13px;
	}
	.collect_detail .collect_img {
		width: 65px;
	}
	/*eventA page end*/

	/*eventB start*/
	.event_img img {
		height: 65px;
	}
	.eventB_page_section .event_img p {
		font-size: 14.92px;
	}
	/*eventB page end*/

	/*evnetC page start*/
	.eventC_page_section .event_activity {
		padding: 0px 15px 0px 15px;
	}
	.eventC_page_section .event_button {
		padding: 0px 15px;
	}
	.eventC_page_section .eventC_gendar{
		padding-top: 0px;
	}
	.eventC_page_section .eventC_btn {
		padding: 5px 15px;
		font-size: 13px;
	}
	.eventC_page_section .eventC_gendar label, .eventC_page_section .eventC_item p{
		font-size: 13px;
	}
	.eventC_page_section input[type=radio]{
		height: 14px;
	}
	.eventC_page_section .eventC_item {
		padding: 0px 15px;
	}
	.eventC_page_section input[type=radio] {
		margin-left: 15px;
	}
	.eventC_page_section .event_activity p {
		font-size: 13px;
	}
	.eventC_page_section button.event_btn{
		font-size: 13px;
		padding: 0px 10px;
	}
	/*eventCpage end*/
	/*eventD page start*/
	.eventD_page_section .evet_sliding, .eventD_page_section .eventD_input, .eventD_page_section .eventD_detail {
		padding: 0px 15px;
	}
	.eventD_page_section .eventD_btn{
		padding: 5px 15px;
	}
	.eventC_page_section #overlay1, .eventD_page_section #overlay1, .eventE_page_section #overlay1{
		height: 470px;
		width: 100%;
	}
	.eventC_page_section .Join_inner_content_box, .eventD_page_section .Join_inner_content_box, .eventE_page_section .Join_inner_content_box{
		height: 470px;
		width: 100%;
	}
	.eventD_page_section button.event_payment, .eventD_page_section button.event_invitation{
		font-size: 13px;
		padding: 6px 5px;
	}
	.eventD_page_section .eventD_detail p {
		font-size: 13px;
	}
	.eventD_page_section input.event_aso {
		height: 35px;
		padding: 15px;
		font-size: 16px;
	}
	.eventD_page_section button.event_btn {
		font-size: 12px;
		padding: 3px 15px;
	}
	.eventD_page_section button.eventD_share{
		font-size: 13px;
		padding: 5px 25px;	
		margin-top: 0px;
	}
	/*eventD page end*/

	/*eventE page start*/
	.eventE_page_section .evet_sliding {
		padding: 0px 15px;
	}
	.eventE_page_section .event_channel {
		padding: 2px 15px 2px 15px;
	}
	.channel_name {
		display: inline-flex;
	}
	.eventE_page_section .event_channel p {
		padding: 0px 5px;
	}
	.eventE_page_section .eventE_media {
		text-align: center;
	}
	.eventE_page_section .eventE_media {
		padding: 0 0px;
	}
	.eventE_page_section .eventE_media img {
		padding: 0 5px;
	}
	/*eventE page end*/

	/*eventF page start*/
	.eventF_page_section .Join_inner_content_box {
		height: 560px;
		width: 100%;
	}
	.eventF_page_section #overlay {
		height: 560px;
		width: 100%;
	}
	.eventF_page_section .evet_sliding {
		padding: 3px 15px;
	}
	.eventF_page_section .eventF_btn{
		text-align: center;
	}
	.eventF_at, .eventF_to {
		padding: 1px 15px;
	}
	.eventF_page_section .eventF_pera {
		padding: 3px 15px;
	}
	.eventF_page_section .eventF_send {
		padding: 3px 15px;
	}
	.eventF_page_section button.event_btn {
		padding: 4px 20px;
		font-size: 11px;
	}
	.eventF_page_section button.invitation {
		width: 90px;
		font-size: 11px;
		height: 31px;
	}
	.eventF_page_section button.plus{
		width: 32px;
		height: 30px;
	}
	.eventF_page_section .eventF_pera p{
		font-size: 12px;
	}
	.eventF_page_section button.eventF_save {
		font-size: 12px;
		padding: 5px 21px;
	}
	.eventF_page_section .eventF_send input {
		font-size: 12px;
		width: 65px;
	}
	.eventF_page_section .eventF_send label, .eventF_page_section .eventF_at label, .eventF_page_section .eventF_to label {
		font-size: 12px;
	}
	.eventF_page_section .eventF_at input {
		width: 18px;
		height: 16px;
	}
	.eventF_page_section [type="radio"]:checked + label:before, .eventF_page_section [type="radio"]:not(:checked) + label:before{
		width: 18px;
		height: 17px;
	}
	.eventF_page_section [type="radio"]:checked + label:after, .eventF_page_section [type="radio"]:not(:checked) + label:after{
		top: 4px;
		left: 4px;
	}
	.eventF_page_section [type="radio"]:checked + label, .eventF_page_section [type="radio"]:not(:checked) + label{
		line-height: 15px;
	}
	/*aso ebi event pages css end*/
}
@media screen and (max-width: 450px){
	/*view event responsive css strt*/
	.gender_slide1 {
		padding: 8px;
		margin: 8px 0px 0px 0px;
	}
	.event_detail_btns a {
		padding: 2px 11px;
	}
	.event_title, .event_type {
		margin-right: 1px;
	}
	/*view event responsive css end*/
	/*new event page without slider start*/
	/*add_event start*/
	.name_page_section .name_event p{
		font-size: 40px;
	}
	.ceremony1 p, .ceremony2 p{
		padding: 7px 29px 7px 29px;
	}
	/*add_event page end*/

	/*event1 page start*/
	.event_item span, .event_item label {
		font-size: 12px;
	}
	.event1_page_section .event_ngn label {
		margin-left: 17px;
	}
	/*event1 page end*/

	/*slider page start*/

	.slider_page_section .ceremony1 a, .ceremony2 a, .ceremony3 a {
		height: 34px;
		font-size: 12px;
		line-height: 32px;
		width: 77px;
	}
	.slider_page_section .plus a {
		width: 28px;
		font-size: 12px;
		line-height: 32px;
	}
	.slider_page_section .freind_family i {
		margin-top: 3px;
	}
	.freind_family i{
		font-size: 10px;
	}
	/*slider page end*/
	/*new event page without slider end*/
}
@media screen and (max-width: 421px){
	/*new event page without slider start*/
	/*thanks start*/
	.thanks_page_section .thanks_head p{
		font-size: 70px;
	}
	/*thanks end*/
	/*msg start*/
	.all_event_sec p {
		font-size: 10px;
	}
	.all_event_sec .all_event_name {
		margin-left: -5px;
	}
	/*msg end*/

	/*add_event page start*/
	.name_page_section .name_ceremony{
		padding: 0 23px;
	}
	.name_page_section .name_event p{
		font-size: 25px;
	}
	.name_page_section .name_hashtag p{
		font-size: 20px;
	}
	/*add_event page end*/

	/*event1 page start*/
	.event1_page_section .gendar label {
		font-size: 12px;
	}
	.event1_page_section .event_ngn label {
		margin-left: 16px;
	}
	.event1_page_section .item_name p{
		margin-left: 11px;
	}
	.event1_page_section a.event_family {
		width: 80px;
	}
	.event1_page_section a.event_plus {
		width: 30px;
	}
	.event1_page_section input {
		width: 107px;
	}
	/*event1 page end*/

	/*slider page start*/
	.slider_page_section .slider_event p{
		font-size: 25px;
	}
	.slider_page_section .select_date input{
		height: 45px;
	}
	.slider_page_section .gender_slider {
		padding: 0 32px;
	}
	.slider_page_section .gender_slide {
		padding: 5px;
	}
	/*slider page end*/
	/*new event page without slider end*/
}
@media screen and (max-width: 411px){
	/*view event responsive css strt*/
	.event_detail_btns a {
		padding: 2px 7px;
	}
	/*view event responsive css end*/
	/*all event menu responsive start*/
	.event_menu ul li {
		padding: 8px 30px;
		font-size: 14px!important;
	}
	/*all event menu responsive end*/
	/*new event slider page responsive start*/
	.event_slider_section [type="radio"]:checked + label:before,
	.event_slider_section [type="radio"]:not(:checked) + label:before {
		width: 14px;
		height: 14px;
	}
	.event_slider_section [type="radio"]:checked + label, 
	.event_slider_section [type="radio"]:not(:checked) + label {
		line-height: 15px;
		padding-left: 18px;
	}
	.event_slider_section [type="radio"]:checked + label:after, 
	.event_slider_section [type="radio"]:not(:checked) + label:after {
		width: 5px;
		height: 5px;
		top: 5px;
		left: 5px;
	}
	.handle_delivary label {
		font-size: 14.83px;
		font-family: 'Russo One', sans-serif;
	}
	.radio_btn {
		padding-bottom: 12px;
	}
	/*new event slider page responsive end*/
	/*event 1  page responsive start*/
	.gendar [type="radio"]:checked + label:before,
	.gendar [type="radio"]:not(:checked) + label:before {
		width: 14px;
		height: 14px;
	}
	.gendar [type="radio"]:checked + label, 
	.gendar [type="radio"]:not(:checked) + label {
		line-height: 15px;
		padding-left: 18px;
	}
	.gendar [type="radio"]:checked + label:after, 
	.gendar [type="radio"]:not(:checked) + label:after {
		width: 5px;
		height: 5px;
		top: 5px;
		left: 5px;
	}
	.gendar label {
		font-size: 12px;
	}
	/*event 1  page responsive end*/
	/*collection screen slider responsive start*/
	.collection_slider_section .inner_content_btn a {
		font-size: 16px;
		height: 38px;
		line-height: 38px;
		width: 100px;
	}
	.number, .inner_box_content .inner_title h3 {
		font-size: 16.33px !important;
	}
	.collection_slider_section [type="radio"]:checked + label:before,
	.collection_slider_section [type="radio"]:not(:checked) + label:before {
		width: 14px;
		height: 14px;
	}
	.collection_slider_section [type="radio"]:checked + label, 
	.collection_slider_section [type="radio"]:not(:checked) + label {
		line-height: 15px;
		padding-left: 18px;
	}
	.collection_slider_section [type="radio"]:checked + label:after, 
	.collection_slider_section [type="radio"]:not(:checked) + label:after {
		width: 5px;
		height: 5px;
		top: 5px;
		left: 5px;
	}
	.gender_list {
		padding: 0px;
	}
	.collection_slider ul.slick-dots {
		left: 15%;
	}
	.collection_slider button.slick-prev {
		left: 20%;
		top: 15%;
	}
	.collection_slider button.slick-next {
		right: 20%;
	}
	.collection_slider_section .new_event_sec span {
		font-size: 27.17px;
		margin-left: -18px;
	}
	.collection_slider_section .slick-slide .new_event_sec img {
		max-height: 30px;
	}
	.collection_slider_section .new_event_sec p {
		font-size: 13.67px;
	}
	.collection_slider_section h3 {
		font-size: 40.33px;
	}
	.collection_slider_section .event_inner_content_box,
	.collection_slider {
		height: 505px;
	}
	.collection_slider ul.slick-dots {
		left: 22%; 
		padding: 0px 30px;
	}
	.number img ,.inner_title img{
		height: 14px;
	}
	.collection_slider_section .slide_five .inner_box_content {
		font-size: 14.67px !important;
	}
	.collection_slider_section .inner_box_content {
		height: 190px;
	}
	.slide_five .gender_list p {
		line-height: 22px;
	}
	.inner_title span {
		padding: 7px;
	} 
	.slide_five .inner_title h3 {
		margin-top: 8px !important;
	}
	/*collection screen slider responsive end*/
}
@media(max-width: 390px){
	/*view event responsive css strt*/
	.event_detail_btns a {
		font-size: 12px;
		padding: 4px 9px;
	}
	/*view event responsive css end*/
	/*all event menu responsive start*/
	.event_menu ul li {
		padding: 8px 25px;
	}

	/*all event menu responsive end*/
	/*share responsive css start*/
	.enter_event_title label {
		font-size: 12px;
	}
	/*share responsive css end*/
	/*new thanks responsive start*/
	.about_aso_ebi p {
		font-size: 14px;
	}
	.about_aso_ebi{
		margin-top: 15px;
	}
	/*new thanks responsive end*/
	/*new event responsive start*/
	.new_event_sec p {
		font-size: 10px;
	}
	.new_event_sec .event_name {
		margin-left: -5px;
	}
	.font_style a {
		font-size: 11px;
		padding: 12px 7px;
	}
	.profile_event_sec .profile_content ul li {
		padding: 0px 7px;
		font-size: 11px;
	}
	.new_event_slider ul.slick-dots button {
		height: 3px;
		width: 12px;
	}
	.enter_event_title p {
		font-size: 13.83px;
	}
	.back1 img {
		width: 50px;
		height: 49px;
	}
	.back1 p {
		font-size: 10px;
	}
	.all_back_img .col-sm-3 {
		padding-right: 6px;
		padding-left: 12px;
	}
	.Pricing_tip p {
		font-size: 16px!important;
	}
	.prising_list p {
		font-size: 12px!important;
		line-height: 21px!important;	
	}
	.slider1 p {
		font-size: 10px;
	}
	.plus_add img{
		height: 15px;
		width: 15px;
	}
	.event_bank_detail label {
		font-size: 12px;
	}
	/*new event responsive end*/
}
@media screen and (max-width: 360px){
	/*view event responsive css strt*/
	.view_event_section h3 {
		font-size: 26px;
	}
	.event_detail_btns a {
		padding: 4px 5px;
	}
	/*view event responsive css end*/
}
@media screen and (max-width: 340px){
	/*view event responsive css strt*/
	.event_detail_btns a {
		font-size: 11px;
	}
	/*view event responsive css end*/
	/*all event menu responsive start*/
	.event_menu ul li {
		padding: 8px 19px;
		font-size: 12px!important;
	}
	/*all event menu responsive end*/
	/*new event page without slider start*/
	/*event1 page responsive start*/
	.event1_page_section a.event_family {
		width: 74px;
	}
	.event1_page_section a.event_plus {
		width: 25px;
		line-height: 33px;
	}
	.slider_page_section .ceremony1 a, .ceremony2 a, .ceremony3 a {
		width: 75px;
	}
	.slider_page_section .gender_slide input {
		background-color: transparent;
		width: 85px;
	}
	.slider_page_section .freind_family .form-check-inline label {
		font-size: 11px;
	}
	.slider_page_section .select_date input {
		height: 40px;
	}
	.slider_page_section .plus a {
		width: 25px;
	}
	.slider_page_section .ceremony1 a, .ceremony2 a, .ceremony3 a {
		width: 72px;
		font-size: 10px;
	}
	.slider_page_section .all_ceremony_btn ul li {
		padding: 5px 1px 5px 0px;
	}
	/*event1 page responsive end*/

	/*msg page start*/
	.msg_page_section .event_btns1 a {
		width: 118px;
	}
	.msg_page_section .event_btns a {
		width: 113px;
	}
	/*msg page end*/
	/*new event page without slider end*/
	/*aso ebi event pages css start*/
	/*eventA page start*/
	.collect_detail {
		padding: 5px 30px;
	}
	.eventA_page_section .evet_sliding {
		padding: 0px 15px;
	}
	.eventA_page_section .collected p {
		font-size: 11px;
	}
	.collect_detail .collect_img {
		width: 65px;
	}
	/*eventA page end*/

	/*eventB page start*/
	.eventB_page_section .event_img p {
		font-size: 10.92px;
	}
	.eventB_page_section button.event_btn {
		padding: 3px 45px;
	}
	/*eventB page end*/

	/*eventC page start*/
	.eventC_page_section .event_activity p {
		font-size: 11px;
	}
	/*eventC page end*/

	/*eventD page start*/
	.eventD_page_section button.event_payment, .eventD_page_section button.event_invitation {
		font-size: 10px;
		padding: 6px 5px;
	}
	.eventD_page_section input.event_aso{
		font-family: none;
	}
	.collect_img img {
		height: 45px;
	}
	/*eventE page start*/
	.eventE_page_section button.event_btn, .eventE_page_section .event_channel p {
		font-size: 13px;
	}

	/*eventF page start*/
	.eventF_page_section .Join_inner_content_box {
		height: 615px;
		width: 100%;
	}
	.eventF_page_section #overlay {
		height: 615px;
		width: 100%;
	}
	/*aso ebi event pages css end*/
}

@media (max-width: 320px){
	/*join page responsive css start*/
	.join_page1_section h3, .join_page2_section h3, .join_page3_section h3, .join_page4_section h3, .join_page5_section h3 {
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*join page responsive css end*/
	/*enter screen page responsive css start*/
	.enter_section h3{
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*enter screen responsive css end*/
	/*thanks1 page responsive css start*/
	.thanks1_section h3{
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*thanks1 page responsive css end*/
	/*thanks1 page responsive css start*/
	.share_page_section h3{
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*thanks1 page responsive css end*/
	/*forgot password responsive start*/
	.forgot_pwd_section h3{
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*forgot password responsive end*/
	/*edit event responsive start*/
	.edit_event_section h3{
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*edit event responsive end*/
	/*new even page responsive start*/
	.event_slider_section h3 {
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*new even page responsive end*/
	/*collection screen slider responsive start*/
	.collection_slider_section .event_inner_content_box, .collection_slider {
		height: 385px;
	}
	.collection_slider_section .inner_box_content {
		height: 120px;
	}
	.collection_slider_section .new_event_sec span {
		font-size: 25.17px;
		margin-left: -12px;
	}
	.collection_slider_section .new_event_sec p {
		font-size: 11.67px;
	}
	.collection_slider_section .inner_content_btn a {
		font-size: 14px;
		height: 35px;
		line-height: 35px;
		width: 92px;
	}
	.number, .inner_box_content .inner_title h3 {
		font-size: 12px !important;
	}
	.number img ,.inner_title img{
		height: 12px;
	}
	.collection_slider_section .inner_box_content {
		font-size: 13.67px !important;
	}
	.collection_slider ul.slick-dots {
		left: 14%;
	}
	.slide_five .gender_list .list1 {
		padding: 3px 0px;
	}
	.collection_slider_section h3 {
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	.collection_slider button.slick-next {
		bottom: 65%;
		right: 23%;
	}
	.collection_slider button.slick-prev {
		left: 24%;
		top: 19.5%;
	}
	.collection_slider ul.slick-dots {
		bottom: 28px;
	}
	.gender_list p {
		line-height: 24px;
	}
	.scrollbar-rail > .scroll-element div {
		height: 85px;
	}
	.scrollbar-rail > .scroll-element.scroll-y:after {
		bottom: -7px;
	}
	.collection_slider .scroll_content {
		padding: 4px 0px !important;
		height: 110px;
	}
	.inner_title span {
		padding: 3px;
		font-size: 10px;
	}
	.slide_five .gender_list p {
		font-size: 10px;
		line-height: 14px;
	}
	.scrollbar-rail {
		max-height: 110px;
	}
	/*collection screen slider responsive end*/
	/*add event section start*/
	.name_page_section h3 {
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*add event section end*/
	/*msg  section start*/
	.msg_page_section h3 {
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*msg event section end*/
	/*msg  section start*/
	.msg_page_section h3 {
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*msg event section end*/
	/*event 1 section start*/
	.event1_page_section h3 {
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*event 1 section end*/
	/*event slider section start*/
	.slider_page_section h3 {
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*event slider section end*/
	/*thanks section start*/
	.thanks_page_section h3 {
		font-size: 32px;
		margin-bottom: 0px;
		margin-top: -35px;
	}
	/*thanks section end*/
}
