<div id="loading" *ngIf="isDiable">
    <img id="loading-image" src="/assets/images/loader.gif" alt="Loading..." />
</div>

<!-- Home page design integrate -->

<section class="home_slider_section text-center slider_background d-flex flex-wrap align-content-center">
    <div class="container-fluid">
        <div class="home_slider">
            <div class="single_home_slide green_slide d-flex flex-wrap align-content-center">
                <div class="inner_content_box d-flex flex-wrap align-content-center">
                    <div class="inner_content_elements_holder ">
                        <img src="/assets/images/all_set_image.png" alt="all set image">
                        <h3>All set to collect aso ebi <br> payments for your next event?</h3>
                    </div>
                </div>
            </div>
            <div class="single_home_slide pink_slide">
                <div class="inner_content_box d-flex flex-wrap align-content-center">
                    <div class="inner_content_elements_holder">
                        <h3 class="text-white">T<div>
                            </div>hen, we’re all set to <br> help you do that with <br> style </h3>
                    </div>
                </div>
            </div>
            <div class="single_home_slide orange_slide">
                <div class="inner_content_box d-flex flex-wrap align-content-center">
                    <div class="inner_content_elements_holder">
                        <img src="/assets/images/mail.png" alt="icon image">
                        <h2 class="text-white">#LeGo</h2>
                        <h3 class="text-white">Just create a page with your <br> event hashtag, and share the <br> link
                            with guests.</h3>
                        <h2 class="text-white">#MeAndYou</h2>
                    </div>
                </div>
            </div>
            <div class="single_home_slide yellow_slide">
                <div class="inner_content_box d-flex flex-wrap align-content-center">
                    <div class="inner_content_elements_holder">
                        <h3 class="text-white">Ready? <br> Let’s do this</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="two_btn_div">
            <a routerLink="/signUp" class="btn_join text-white">Join</a>
            <a routerLink="/login" class="btn_enter text-white">Enter</a>
        </div>
    </div>
</section>