<div id="loading" *ngIf="isDiable">
    <img id="loading-image" src="/assets/images/loader.gif" alt="Loading..." />
</div>
<!-- Home page design integrate -->
<section class="home_slider_section text-center slider_background d-flex flex-wrap align-content-center">
    <div class="container-fluid">
        <div class="home_slider">
            <div class="single_home_slide green_slide d-flex flex-wrap align-content-center">
                <div class="inner_content_box d-flex flex-wrap align-content-center">
                    <div class="inner_content_elements_holder">
                 </div>
             </div>
         </div>
         <div class="single_home_slide pink_slide">
            <div class="inner_content_box d-flex flex-wrap align-content-center">
                <div class="inner_content_elements_holder">
                </div>
            </div>
        </div>
        <div class="single_home_slide orange_slide">
            <div class="inner_content_box d-flex flex-wrap align-content-center">
                <div class="inner_content_elements_holder">
                    </div>
                </div>
            </div>
            <div class="single_home_slide yellow_slide">
                <div class="inner_content_box d-flex flex-wrap align-content-center">
                    <div class="inner_content_elements_holder">
                    </div>
                </div>
            </div>
        </div>
        <div class="two_btn_div">
            <a routerLink="/signUp" class="btn_join text-white">Join</a>
            <a routerLink="/login" class="btn_enter text-white">Enter</a>
        </div>
    </div>
</section>