<div id="loading">
    <img id="loading-image" src="/assets/images/loader.gif" alt="Loading..." />
</div>

<div class="initialStep">
    <section class="eventC_page_section d-flex flex-wrap align-content-center">
        <div class="container-fluid">
            <h3 class="text-center">Aso Ebi</h3>
            <div class="eventC_sec1">
                <div class="Join_inner_content_box">
                    <div class="all_event_sec">
                        <div class="row">
                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                <a><img src="/assets/images/eventC_icon.png">
                                    <p class="text-white">New Event</p>
                                </a>
                            </div>
                            <div class="col-9 p-0">
                                <span class="text-white all_event_name"> Hello {{userName}}</span>
                            </div>
                        </div>
                    </div>
                    <div id="overlay" class="new_event_menu_box" style="display: none;">
                        <div class="">
                            <div class="event_menu">
                                <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                    <ul>
                                        <li><a href="eventA.html" class="text-white new_event">my event</a></li>
                                        <li><a href="new_event_slider.html" class="text-white my_event">new event</a>
                                        </li>
                                        <li><a href="add_bank_account.html" class="text-white my_account">bank
                                                account</a>
                                        </li>
                                        <li><a href="reset_password.html" class="text-white my_account">Reset
                                                Password</a>
                                        </li>
                                        <li><a href="#" class="text-white my_account">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="evet_sliding">
                        <div class="event_slider1" id="firstSlider">
                            <div class="slide1" *ngFor="let item of myEvent">
                                <div class="slider_box1 text-center m-2" [hidden]="!item.eventTitle">
                                    <button class="event_btn" title="{{item.eventTitle}}"
                                        (click)="allEventList(item._id)">{{item.eventTitle}}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="event_activity" *ngIf="selectedActivity">
                        <p>{{selectedActivity.activityName}}</p> <br>
                        <p>From: {{selectedActivity.activityStartDate | date: 'dd/MM/yyyy'}} <br> To: {{selectedActivity.activityEndDate | date: 'dd/MM/yyyy'}}  </p>
                    </div>
                    <div class="w-100 mb-3 event-activity-class">
                        <div class="event_button" *ngFor="let item of selectedActivityGroup;">
                            <button class="eventC_btn" (click)="handleChange(item)"
                                *ngIf="item.groupName">{{item.groupName}}</button>
                        </div>
                    </div>
                    <div class="pb-3 ml-5" >
                        <input type="radio" id="test" value="male" name="radio-group1" checked>
                        <label for="test">Male</label>
                        <input type="radio" id="test5" value="female" name="radio-group1">
                        <label for="test5">Female</label>
                    </div>
                    <div class="event-count-box-scroll">
                        <div class="eventC_item" *ngFor="let name of itemNamePrint;">
                            <div class="row">
                                <div class="col-12">
                                    <div class="event-count-box">
                                        <div class="eventC_close float-left text-white">
                                            <p class="text-white">{{name.itemName}}<p>
                                        </div>
                                        <div class="event_price float-right">
                                            <p class="event_price"><img
                                                    src="/assets/images/hecza.png">{{name.itemPrice}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="itemNamePrint.length == 0">
                        <h1>Sorry, you have no item in this activity.You can <a style="color:aliceblue"
                                (click)="nextSection('seventhStep', 'initialStep')">add Item</a>, here</h1>
                    </div>
                    <div class="collect_detail text-center" [ngClass]="eventId">
                        <span *ngFor="let item of allActivityList">
                            <div class="collect1_img">
                                <div class="collect_img" (click)="singleActivityDetails(item)">
                                    <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                        src="{{path}}{{singleEventDetails.profilePhoto}}">
                                </div>
                                <p class="text-white">{{item.activityName}}</p>
                            </div>
                        </span>
                        <div class="collect1_img" (click)="totalCollection(singleEventDetails._id)">
                            <div class="collect_img">
                                <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                    src="{{path}}{{singleEventDetails.profilePhoto}}">
                            </div>
                            <p class="text-center text-white">Collected</p>
                        </div>
                        <div class="collect1_img">
                            <div class="collect_img" (click)="nextSection('seventhStep', 'initialStep')">
                                <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                    src="{{path}}{{singleEventDetails.profilePhoto}}">
                            </div>
                            <p class="text-white">Edit Event</p>
                        </div>
                        <div class="collect1_img">
                            <div class="collect_img" (click)="viewMoreDeatils(singleEventDetails._id)">
                                <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                    src="{{path}}{{singleEventDetails.profilePhoto}}">
                            </div>
                            <p class="text-white">View Event</p>
                        </div>
                        <div class="collect1_img">
                            <div class="collect_img" (click)="messageEvent(singleEventDetails._id)">
                                <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                    src="{{path}}{{singleEventDetails.profilePhoto}}">
                            </div>
                            <p class="text-white">Message</p>
                        </div>
                        <div class="collect1_img">
                            <div class="collect_img" (click)="invitation(singleEventDetails._id)">
                                <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                    src="{{path}}{{singleEventDetails.profilePhoto}}">
                            </div>
                            <p class="text-white">Invited Guestes</p>
                        </div>
                        <div class="collect1_img">
                            <div class="collect_img" (click)="autoMessage(singleEventDetails._id)">
                                <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                    src="{{path}}{{singleEventDetails.profilePhoto}}">
                            </div>
                            <p class="text-white">Auto Message</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="seventhStep" style="display:none">
    <section class="edit_event_section d-flex flex-wrap align-content-center">
        <div class="container-fluid">
            <h3 class="text-center">Aso Ebi</h3>
            <div class="edit_event">
                <div class="event_inner_content_box">
                    <div class="event_inner_content ">
                        <div class="new_event_sec edit_event_new">
                            <div class="row">
                                <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                    <a><img src="/assets/images/edit_event_icon.png">
                                        <p class="text-white">New Event</p>
                                    </a>
                                </div>
                                <div class="col-9 p-0">
                                    <span class="text-white event_name"> Hello {{userName}} </span>
                                </div>
                            </div>
                        </div>
                        <div id="overlay" class="new_event_menu_box" style="display: none;">
                            <div class="m-auto pr-0 float-left new_event_menu slider_overlay">
                                <a class="text-white "><img src="/assets/images/overlay.png">
                                    <p>New Event</p>
                                </a>
                            </div>
                            <div class="">
                                <div class="event_menu">
                                    <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                        <ul>
                                            <li><a href="eventA.html" class="text-white new_event">my event</a></li>
                                            <li><a href="new_event_slider.html" class="text-white my_event">new
                                                    event</a>
                                            </li>
                                            <li><a href="add_bank_account.html" class="text-white my_account">bank
                                                    account</a>
                                            </li>
                                            <li><a href="reset_password.html" class="text-white my_account">Reset
                                                    Password</a>
                                            </li>
                                            <li><a href="#" class="text-white my_account">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="singleEventDetails">
                            <div class="enter_event_title">
                                <h6 class="text-center text-white">Event Hashtag</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="title" [(ngModel)]="eventHashtag"
                                            placeholder="# Enter your event hashtag here.." name="title">
                                    </div>
                                </div>
                            </div>
                            <div class="edit_event_btn">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 edit_info"
                                        (click)="editEventDeatils(singleEventDetails._id)">
                                        <a class="edit_btn text-white  text-center">Edit Information </a>
                                    </div>
                                    <div class="col-sm-6 delete_info col-xs-12"
                                        (click)="deleteEvent(singleEventDetails._id)">
                                        <a class="delete_event_btn text-center">Delete Event</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>