.event_img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.event_img img{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
}

.collect_detail .collect_img {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}
.collect_detail .collect_img img{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
}
.eventE_media {
    margin: auto;
    text-align: center;
}