<div class="custom_steps secondStep">
        <section class="join_page3_section text-center d-flex flex-wrap align-content-center">
            <div class="container-fluid">
                <h3>Aso ebi</h3>
                <div class="join_aso_ebi_sec3">
                    <div class="Join_inner_content_box">
                        <div class="inner_content_btn">
                            <a routerLink="/signUp"
                                class="btn_join3 text-white float-left">Join</a>
                            <a routerLink="/login" class="btn_enter3 float-right">Enter</a>
                            <form class="join_form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input #joinCode type="text" name="joinCode" class="form-control" id="join_code"
                                            placeholder="Join code">
                                    </div>
                                </div>
                                <button type="button" class="btn text-white form_join_btn"
                                    (click)="verifyCode(joinCode.value)">Join</button>
                                <p class="text-white text-center enter_join_code">Enter Join code<br>sent to your
                                    email</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>