<div id="loading" *ngIf="isLoad">
    <img id="loading-image" src="/assets/images/loader.gif" alt="Loading..." />
</div>


<div class="step_1" style="display:none">
    <section class="event_slider_section d-flex flex-wrap align-content-center">
        <div class="container-fluid">
            <h3 class="text-center aso_heading">Aso Ebi</h3>
            <form [formGroup]="eventForm">
                <div class="slider_height">
                    <div class="new_event_slider">
                        <div class="new_event_slide first_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content ">
                                    <div class="new_event_sec">
                                        <div class="row">
                                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                                <a><img src="/assets/images/icon1.png">
                                                    <p class="text-white">New Event</p>
                                                </a>
                                            </div>
                                            <div class="col-9 p-0">
                                                <span class="text-white event_name"> Hello {{userName}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="enter_event_title">
                                        <h6 class="text-center text-white">Event Title</h6>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="eventTitle"
                                                    formControlName="eventTitle" placeholder="Enter Event Title"
                                                    ngModel="{{createdEventDetails ? createdEventDetails.eventTitle : ''}}"
                                                    [ngClass]="{ 'is-invalid': f.eventTitle.touched && f.eventTitle.errors }">
                                                <div class="col-md-2"
                                                    *ngIf="f.eventTitle.touched && f.eventTitle.errors"
                                                    class="invalid-feedback text-white">
                                                    <div *ngIf="f.eventTitle.errors.required">Event Title is Required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new_event_slide second_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content ">
                                    <div class="new_event_sec">
                                        <div class="row">
                                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                                <a><img src="/assets/images/icon2.png">
                                                    <p class="text-white">New Event</p>
                                                </a>
                                            </div>
                                            <div class="col-9 p-0">
                                                <span class="text-white event_name"> Hello {{userName}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select_event_type">
                                        <ul class="list-group">
                                            <li class="list-group-item active selected_event_type "><a>Event Type</a>
                                            </li>
                                            <li class="list-group-item"><a>Wedding</a> </li>
                                            <li class="list-group-item"><a>Birthday</a> </li>
                                            <li class="list-group-item"><a>Funeral</a></li>
                                            <li class="list-group-item"><a>Reunion</a></li>
                                            <li class="list-group-item"><a>Club Meeting</a></li>
                                            <li class="list-group-item"><a>Religious</a></li>
                                            <li class="list-group-item"><a>Anniversary</a></li>
                                        </ul>
                                        <div *ngIf="f.eventType.touched && f.eventType.errors"
                                            class="invalid-feedback text-white">
                                            <div *ngIf="f.eventType.errors.required">Event Type is Required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new_event_slide third_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content ">
                                    <div class="new_event_sec">
                                        <div class="row">
                                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                                <a><img src="/assets/images/icon3.png">
                                                    <p class="text-white">New Event</p>
                                                </a>
                                            </div>
                                            <div class="col-9 p-0">
                                                <span class="text-white event_name"> Hello {{userName}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="enter_event_title">
                                        <h6 class="text-center text-white">Event HashTag</h6>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" placeholder="# Enter your event hashtag here.."
                                                    class="form-control" formControlName="hashTag"
                                                    ngModel="{{createdEventDetails ? createdEventDetails.hashTag : ''}}"
                                                    id="hashTag"
                                                    [ngClass]="{ 'is-invalid': f.hashTag.touched && f.hashTag.errors }">
                                                <div class="col-md-2" *ngIf="f.hashTag.touched && f.hashTag.errors"
                                                    class="invalid-feedback text-white">
                                                    <div *ngIf="f.hashTag.errors.required">Event HashTag is Required
                                                    </div>
                                                    <div *ngIf="f.hashTag.errors.minlength">Name must be at least 4
                                                        Characters
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="font_style text-center">
                                            <ul>
                                                <li><a href="javascript:void(0)"
                                                        class="text-white normal_style">Normal</a> </li>
                                                <li><a href="javascript:void(0)"
                                                        class="text-white italic_style">Italics</a> </li>
                                                <li><a href="javascript:void(0)"
                                                        class="text-white starry_style">Starry</a> </li>
                                                <li><a href="javascript:void(0)"
                                                        class="text-white carved_wood_style">Carved Wood</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new_event_slide four_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content ">
                                    <div class="new_event_sec">
                                        <div class="row">
                                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                                <a><img src="/assets/images/4icon.png">
                                                    <p class="text-white">New Event</p>
                                                </a>
                                            </div>
                                            <div class="col-9 p-0">
                                                <span class="text-white event_name"> Hello {{userName}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile_event_sec">
                                        <div class="profile_hashtag text-center">
                                            <p># Event Hashtag</p>
                                        </div>
                                        <div class="profile_event text-center">
                                            <p>Event Profile Photo</p>
                                        </div>
                                        <div class="profile_image text-center">
                                            <div class="profile_photo profile_image_box text-center"
                                                touranchor="change-profile" ng-reflect-tour-anchor="change-profile">
                                                <img *ngIf="createdEventDetails && createdEventDetails.profilePhoto"
                                                    src="{{path}}{{createdEventDetails.profilePhoto}}"
                                                    class="rounded-circle">
                                                <input type="file" name="files" value="files" formControlName="profile"
                                                    (change)="addFile($event.target.files)" id="customFile"
                                                    accept="image/png, image/jpeg, image/jpg" style="display: none;">
                                                <label for="customFile" class="profile_and_cover_edit text-center"
                                                    title="Change Profile"><i class="fa fa-camera"
                                                        aria-hidden="true"></i></label>
                                                <span>
                                                    <img [src]="imgURL" height="200" class="float-right rounded-circle"
                                                        id="imageFilter"
                                                        onerror="this.src='/assets/images/profile_photo.png'"> </span>
                                            </div>
                                        </div>
                                        <div class="profile_content text-center">
                                            <ul>
                                                <li id="color1">Grayscale</li>
                                                <li id="color2">Polarolad</li>
                                                <li id="color3">Planting</li>
                                                <li id="color4">Illustration</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new_event_slide five_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content ">
                                    <div class="new_event_sec">
                                        <div class="row">
                                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                                <a><img src="/assets/images/5icon.png">
                                                    <p class="text-white">New Event</p>
                                                </a>
                                            </div>
                                            <div class="col-9 p-0">
                                                <span class="text-white event_name"> Hello {{userName}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select_pic">
                                        <div class="back_hashtag text-center">
                                            <p># Event Hashtag</p>
                                        </div>
                                        <div class="back_event text-center">
                                            <p>Event Background Photo</p>
                                        </div>
                                        <div class="all_back_img">
                                            <div class="row">
                                                <div class="col-sm-3 ">
                                                    <a class="back1"
                                                        (click)="defaultBackgroundImage('/assets/images/confeti.gif', 'background1')">
                                                        <!-- <i class="yes_arrow"></i> -->
                                                        <img src="/assets/images/confeti.gif" class="rounded-circle"
                                                            style="cursor:pointer" id="background1">
                                                        <p class="text-center">Confetti</p>
                                                    </a>
                                                </div>
                                                <div class="col-sm-3">
                                                    <a class="back1"
                                                        (click)="defaultBackgroundImage('/assets/images/rain.gif', 'background2')">
                                                        <!-- <i class="yes_arrow"></i> -->
                                                        <img src="/assets/images/rain.gif" id="background2"
                                                            class="rounded-circle" style="cursor:pointer">
                                                        <p class="text-center">Rain</p>
                                                    </a>
                                                </div>
                                                <div class="col-sm-3 ">
                                                    <a class="back1"
                                                        (click)="defaultBackgroundImage('/assets/images/bloom.gif', 'background3')">
                                                        <!-- <i class="yes_arrow"></i> -->
                                                        <img src="/assets/images/bloom.gif" id="background3"
                                                            class="rounded-circle" style="cursor:pointer">
                                                        <p class="text-center"> Blossom Falling</p>
                                                    </a>
                                                </div>
                                                <div class="col-sm-3 ">
                                                    <a class="back1">
                                                        <!-- <img *ngIf="createdEventDetails && createdEventDetails.eventTheme"
                                                            src="{{path}}{{createdEventDetails.eventTheme}}"
                                                            class="rounded-circle"> -->
                                                        <input type="file" formControlName="background"
                                                            class="form-control"
                                                            (change)="addThemePhoto($event.target.files)"
                                                            id="customThemeFile"
                                                            accept="image/png, image/jpeg, image/jpg, image/gif"
                                                            style="display: none;">
                                                        <label for="customThemeFile" class="background_edit text-center"
                                                            title="Change Profile"><i class="fa fa-camera"
                                                                aria-hidden="true"></i></label>
                                                        <img [src]="themeURL" height="200"
                                                            class="float-right rounded-circle"
                                                            onerror="this.src='/assets/images/profile_photo.png'">
                                                        <p class="text-center">add Photo</p>
                                                        <!-- <p class="text-center">Add Photo</p> -->
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new_event_slide six_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content ">
                                    <div class="Pricing_tip">
                                        <p>Pricing Tip</p>
                                    </div>
                                    <div class="prising_list">
                                        <ul>
                                            <li><img src="/assets/images/1.png">
                                                <p class="text-white prising_text">Aso Ebi can deliver your fabric to
                                                    guests
                                                </p>
                                            </li>
                                            <li class="second_list"><img src="/assets/images/2.png">
                                                <p class="text-white prising_text">Include a delivery cost of NGN
                                                    500-NGN
                                                    1000 in your pricing if you want us to handle
                                                    logistics.
                                                </p>
                                            </li>
                                            <li class="third_list"><img src="/assets/images/3.png">
                                                <p class="text-white prising_text">Include a payment transfer free of
                                                    NGN 60
                                                    when setting your aso ebi pricing.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new_event_slide seven_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content">
                                    <div class="new_event_sec">
                                        <div class="row">
                                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                                <a><img src="/assets/images/icon7.png">
                                                    <p class="text-white">New Event</p>
                                                </a>
                                            </div>
                                            <div class="col-9 p-0">
                                                <span class="text-white event_name"> Hello {{userName}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="make_event_private">
                                        <p class="text-white">Make this event Public or Private?</p>
                                        <div class="row">
                                            <div class="col-1">
                                                <!-- {{ createdEventDetails }} -->
                                                <label class="switch mt-2">
                                                    <input type="checkbox" class="custom-control-input" id="switch1"
                                                        formControlName="isPublic">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="col-11">
                                                <p class="text-white public">Public</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="new_event_slide eight_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content ">
                                    <div class="new_event_sec">
                                        <div class="row">
                                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                                <a><img src="/assets/images/icon8.png">
                                                    <p class="text-white">New Event</p>
                                                </a>
                                            </div>
                                            <div class="col-9 p-0">
                                                <span class="text-white event_name"> Hello {{userName}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preffered_option">
                                        <p class="text-white">Tick Preferred Optional</p>
                                        <h6 class="text-white">Would you prefer your guests not bring
                                            a present, but gift you with:</h6>
                                        <div class="cash_option">
                                            <label class="container">Cash
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container">Contribute to your registry
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="select_registry text-white">
                                            <div class="col-12 p-0">
                                                <select>
                                                    <option value="">Enter Your Registry</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                    <option value="">4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="new_event_slide nine_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content ">
                                    <div class="new_event_sec">
                                        <div class="row">
                                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                                <a><img src="/assets/images/icon9.png">
                                                    <p class="text-white">New Event</p>
                                                </a>
                                            </div>
                                            <div class="col-9 p-0">
                                                <span class="text-white event_name"> Hello {{userName}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="enter_event_title last_payment">
                                        <p class="text-white">Select Last Payment Deadline Date</p>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <!-- <ngb-datepicker #dp
                                                ngModel="{{createdEventDetails ? paymentDeadlineDate : ''}}"
                                                formControlName="deadlineDate" (navigate)="valuedate = $event.next">
                                            </ngb-datepicker> -->
                                                <!-- <input type="text" #sd id="startDate"/> -->
                                                <!-- <input type="text" id="deadLineDate"  formControlName="deadlineDate"
                                                class="form-control"
                                                ngModel="{{createdEventDetails ? paymentDeadlineDate : ''}}" /> -->
                                                <input autocomplete="off" type="text" id="deadLineDate"
                                                    name="selectDate" formControlName="deadlineDate"
                                                    class="form-control"
                                                    ngModel="{{createdEventDetails ? paymentDeadlineDate : '' | date: 'dd/MM/yyyy'}}">
                                            </div>

                                            <!-- <div class="input-group">
                                                <input class="form-control" placeholder="{{valuedate | date: 'yyyy-MM-dd'}}"
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new_event_slide eleven_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content ">
                                    <div class="new_event_sec">
                                        <div class="row">
                                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                                <a><img src="/assets/images/icon10.png">
                                                    <p class="text-white">New Event</p>
                                                </a>
                                            </div>
                                            <div class="col-9 p-0">
                                                <span class="text-white event_name"> Hello {{userName}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="enter_event_title last_payment">
                                        <p class="text-white">I would like Aso Ebi to handle the delivery of my fabric
                                        </p>
                                    </div>
                                    <div class="handle_delivary">
                                        <div class="row">
                                            <div class="col-3">
                                                <input type="radio" id="test" name="radio-group" checked>
                                                <label for="test">Yes</label>
                                            </div>
                                            <div class="col-3">
                                                <input type="radio" id="test5" name="radio-group" checked>
                                                <label for="test5">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new_event_slide twelve_slide">
                            <div class="event_inner_content_box">
                                <div class="event_inner_content ">
                                    <div class="new_event_sec">
                                        <div class="row">
                                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                                <a><img src="/assets/images/icon11.png">
                                                    <p class="text-white">New Event</p>
                                                </a>
                                            </div>
                                            <div class="col-9 p-0">
                                                <span class="text-white event_name"> Hello {{userName}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="make_event_private">
                                        <p class="text-white">You want to use logistics service of ASO-EBI?</p>
                                        <div class="row">
                                            <div class="col-1">
                                                <label class="switch mt-2">
                                                    <input type="checkbox" class="custom-control-input" id="switch2"
                                                        formControlName="isLogistics">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="col-1">
                                                <p class="text-white text-center public">Yes</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider_next_btn text-center">
                                        <a class="text-white"
                                            (click)="createdEventDetails? updateEvent() : addEvent()">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="overlay" class="new_event_menu_box" style="display: none;">
                        <div class="m-auto pr-0 float-left new_event_menu slider_overlay">
                            <a href="javascript:void(0)" class="text-white "><img src="/assets/images/overlay.png">
                                <p>New Event</p>
                            </a>
                        </div>
                        <div class="">
                            <div class="event_menu">
                                <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                    <ul>
                                        <li><a routerLink="/myEvent" class="text-white text-center new_event">my
                                                event</a>
                                        </li>
                                        <li><a routerLink="/createEvent" class="text-white text-center my_event">new
                                                event</a></li>
                                        <li><a routerLink="/bankDetails" class="text-white text-center my_account">bank
                                                account</a>
                                        </li>
                                        <li><a routerLink="/reset-password"
                                                class="text-white text-center my_account">Reset
                                                Password</a></li>
                                        <li><a (click)="logout()" class="text-white text-center my_account">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>






<div class="step_2" style="display:none">
    <section class="name_page_section d-flex flex-wrap align-content-center">
        <div class="container-fluid">
            <h3 class="text-center">Aso Ebi</h3>
            <div class="name_sec1">
                <div class="Join_inner_content_box">
                    <div class="all_event_sec">
                        <div class="row">
                            <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                <a><img src="/assets/images/icon_creme.png">
                                    <p class="text-white">New Event</p>
                                </a>
                            </div>
                            <div class="col-9 p-0">
                                <span class="text-white all_event_name"> Hello {{userName}} </span>
                            </div>
                        </div>
                    </div>
                    <div id="overlay" class="new_event_menu_box" style="display: none;">
                        <div class="">
                            <div class="event_menu">
                                <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                    <ul>
                                        <li><a routerLink="/myEvent" class="text-white text-center new_event">my
                                                event</a>
                                        </li>
                                        <li><a routerLink="/createEvent" class="text-white text-center my_event">new
                                                event</a></li>
                                        <li><a routerLink="/bankDetails" class="text-white text-center my_account">bank
                                                account</a>
                                        </li>
                                        <li><a routerLink="/reset-password"
                                                class="text-white text-center my_account">Reset
                                                Password</a></li>
                                        <li><a (click)="logout()" class="text-white text-center my_account">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="name_hashtag text-center">
                        <p>{{eventHashTag}}</p>
                    </div>
                    <div class="name_event text-center">
                        <p>Event Activities</p>
                    </div>

                    <form [formGroup]="activityForm" class="all_activity_form">
                        <div formArrayName="activity">
                            <div [formGroupName]="i" *ngFor="let tech of activityFormData.controls; let i = index">
                                <div class="name_ceremony">
                                    <div class="ceremony1">
                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <div class="row create-event-cross">
                                                    <div class="col-11">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control mb-2 w-100"
                                                                formControlName="activityName"
                                                                placeholder="Enter activity name">
                                                        </div>
                                                    </div>
                                                    <div class="col-1 text-center mt-2">
                                                        <div *ngIf="activityForm.controls.activity.controls.length>1"
                                                            class="close_ceremony text-center float-right">
                                                            <a (click)="removeActivityField(i,tech.value)">
                                                                <img src="/assets/images/close1.png"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input id="eventId" class="form-control" formControlName="eventId"
                                                        [(ngModel)]="eventId" hidden>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input autocomplete="off" type="text" id="activityStartDate{{i}}"
                                                        formControlName="activityStartDate" class="form-control w-100"
                                                        placeholder="Activity Start Date">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input autocomplete="off" type="text" id="activityEndDate{{i}}"
                                                        formControlName="activityEndDate" class="form-control w-100"
                                                        placeholder="Activity End Date">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </form>

                    <div class="">
                        <div class="add_ceremony text-center">
                            <div class="add_icon ">
                                <img src="/assets/images/add.png" (click)="addActivityField()">
                            </div>
                        </div>
                        <div class="next_button">
                            <a class="next_btn "
                                (click)="createdEventDetails ? updateActivity() : addActivity()">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </section>
</div>


<div class="step_3" >
    <div class="form_input">
        <div class="row justify-content-center m-0">
            <section class="slider_page_section d-flex flex-wrap align-content-center">
                <div class="container-fluid">
                    <h3 class="text-center">Aso Ebi</h3>
                    <div class="slider_sec1">
                        <div class="Join_inner_content_box">
                            <div class="event_detail">
                                <div class="all_event_sec">
                                    <div class="row">
                                        <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                            <a><img src="/assets/images/event_orange.png"></a>
                                            <p class="text-white">New Event</p>
                                        </div>
                                        <div class="col-9 p-0">
                                            <span class="text-white all_event_name"> Hello {{userName}} </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="overlay" class="new_event_menu_box" style="display: none;">
                                    <div class="">
                                        <div class="event_menu">
                                            <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                                <ul>
                                                    <li><a routerLink="/home"
                                                            class="text-white text-center my_event">Home</a></li>
                                                    <li><a routerLink="/myEvent"
                                                            class="text-white text-center new_event">my
                                                            event</a>
                                                    </li>
                                                    <li><a routerLink="/bankDetails"
                                                            class="text-white text-center my_account">bank
                                                            account</a>
                                                    </li>
                                                    <li><a routerLink="/reset-password"
                                                            class="text-white text-center my_account">Reset
                                                            Password</a></li>
                                                    <li><a (click)="logout()"
                                                            class="text-white text-center my_account">Logout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h6 title="{{eventName}}">{{eventName}}</h6>
                                </div>
                                <div *ngIf="createdActivity && createdActivity.length">
                                    <div class="gender_slider1 gender_slider_space">
                                        <span *ngFor="let item of createdActivity;">
                                            <div class="slide1">
                                                <div class="ceremony1  text-center">
                                                    <a class="event_btn" title="{{item.activityName}}"
                                                        (click)="addGroupWithActivity(item._id)">{{item.activityName}}</a>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <!-- <div class="select_date">
                                        <div class="row" *ngFor="let item of createdActivity;">
                                            <div class="form-group col-6 pr-2" *ngIf="activityStartDate">
                                                <h1>{{item.activityStartDate | date: 'dd/MM/yyyy' }}</h1>
                                            </div>
                                            <div class="form-group col-6 pl-2" *ngIf="activityEndDate">
                                                <h1>{{item.activityEndDate | date: 'dd/MM/yyyy' }}</h1>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <form [formGroup]="groupForm" class="billing_address">
                                    <div formArrayName="group">
                                        <div [formGroupName]="i"
                                            *ngFor="let item of groupFormData.controls; let i = index"
                                            [hidden]="selectedActivityToAddGroup != item.value.activityId">
                                            <div class="add_group">
                                                <div class="col-12 mt-3 text-white  text-right">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"
                                                        (click)="createdEventDetails ? AddGroupField(selectedActivityToAddGroup) : AddGroupField(selectedActivityToAddGroup)"></i>
                                                </div>
                                            </div>
                                            <div class="freind_family">
                                                <div class="row">
                                                    <div class="col-8 form-group float-left">
                                                        <input class="form-control" type="text"
                                                            placeholder="Enter Group Name" formControlName="groupName">
                                                    </div>
                                                    <div class="col-1 text-white p-0 mt-2">
                                                        <i class="fa fa-minus-circle"
                                                            *ngIf="groupForm.controls.group.controls.length>groupLength"
                                                            (click)="removeGroupField(i,item.value)"
                                                            aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gender_slider">
                                                <div class="gender_slide male_slide select_item_scroll">
                                                    <h5 class="text-white">Male</h5>
                                                    <div class="text-center plus_icon float-right">
                                                        <a class="text-white">
                                                            <i class="fa fa-plus-circle" aria-hidden="true"
                                                                (click)="addItemsMale(item)">
                                                            </i>
                                                        </a>
                                                    </div>
                                                    <div class="row scroll_height" formArrayName="male">
                                                        <div class="col-12">
                                                            <div class="" [formGroupName]="k"
                                                                *ngFor="let group of item.controls.male.controls; let k = index">
                                                                <div class=" select_item float-left">
                                                                    <label class="text-white">Item Name</label>
                                                                    <input type="text" class="form-control"
                                                                        formControlName="itemName">
                                                                    <div class="NGN float-right">
                                                                        <label class="text-white">NGN</label>
                                                                        <input type="number" class="form-control"
                                                                            formControlName="itemPrice" min="0" oninput="validity.valid||(value='');"
                                                                            onkeydown="return event.keyCode !== 69" >
                                                                    </div>
                                                                </div>
                                                                <div class="close-male-item float-right"
                                                                    *ngIf="item.controls.male.controls.length>1">
                                                                    <i class="fa fa-minus-circle" aria-hidden="true"
                                                                        (click)="removeItemsMale(item, k ,group.value,item.value)"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gender_slide male_slide select_item_scroll">
                                                    <h5 class="text-white">Female</h5>
                                                    <div class="text-center plus_icon float-right">
                                                        <a class="text-white">
                                                            <i class="fa fa-plus-circle" aria-hidden="true"
                                                                (click)="addItemsfeMale(item)"></i>
                                                        </a>
                                                    </div>
                                                    <div class="row scroll_height" formArrayName="female">
                                                        <div class="col-12">
                                                            <div [formGroupName]="j"
                                                                *ngFor="let group of item.controls.female.controls; let j = index">
                                                                <div class=" select_item float-left">
                                                                    <label class="text-white">Item Name</label>
                                                                    <input type="text" class="form-control"
                                                                        formControlName="itemName">
                                                                    <div class="NGN float-right">
                                                                        <label class="text-white">NGN</label>
                                                                        <input type="number" class="form-control"
                                                                            formControlName="itemPrice"
                                                                            onkeydown="return event.keyCode !== 69" min="0" oninput="validity.valid||(value='');" >
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="item.controls.female.controls.length>1"
                                                                    (click)="removeItemsfeMale(item, j ,group.value,item.value)"
                                                                    class="close-male-item float-right">
                                                                    <i class="fa fa-minus-circle"
                                                                        aria-hidden="true"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                                <div class="create_event text-center">
                                    <a class="createEvent_button"
                                        (click)="createdEventDetails ? updateGroup() : addGroup()">Create Event</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>