<!-- Form of create new event and also edit created event -->

<section id="stepperForm">
    <div class="container">
        <div class="section_title">
            <h2>Accordion Stepper Form</h2>
        </div>
        <div id="register_steps_tab">
            <h3><span class="step_number">1</span>Create New Event</h3>
            <div class="step_content">
                <div class="row">
                    <div class="col-12">
                        <h5>Event Title</h5>
                        <form [formGroup]="eventForm" autocomplete="off" class="user_acc_info">
                            <div class="form_input">
                                <label>Title *</label>
                                <input type="text" class="form-control" id="eventTitle" formControlName="eventTitle"
                                    placeholder="Enter Event Title"
                                    ngModel="{{createdEventDetails ? createdEventDetails.eventTitle : ''}}"
                                    [ngClass]="{ 'is-invalid': f.eventTitle.touched && f.eventTitle.errors }" form>
                                <div class="col-md-2" *ngIf="f.eventTitle.touched && f.eventTitle.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f.eventTitle.errors.required">eventTitle is required</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="dropdown col-md-12">
                                    <h5>Select Event Type</h5>
                                    <select class="form-control" formControlName="eventType"
                                        ngModel="{{createdEventDetails ? createdEventDetails.eventType : ''}}"
                                        id="eventType"
                                        [ngClass]="{ 'is-invalid': f.eventType.touched && f.eventType.errors }">
                                        <option value="Wedding">Wedding</option>
                                        <option value="Birthday">Birthday</option>
                                        <option value="Funeral">Funeral</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Club Meeting">Club Meeting</option>
                                        <option value="Religions">Religions</option>
                                        <option value="Anniversary">Anniversary</option>
                                    </select>
                                    <div class="col-md-2" *ngIf="f.eventType.touched && f.eventType.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.eventType.errors.required">eventType is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <h5>StartDate</h5>
                                    <input type="date" class="form-control" id="startDate" formControlName="startDate"
                                        ngModel="{{createdEventDetails ? selectedStartDate : ''}}">
                                </div>
                                <div class="col-md-6">
                                    <h5>EndDate</h5>
                                    <input type="date" class="form-control" formControlName="endDate" id="endDate"
                                        ngModel="{{createdEventDetails ? selectedEndDate : ''}}">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form_input">
                                        <label>Event HashTag *</label>
                                        <input type="text" placeholder="Enter Event Hastag" class="form-control"
                                            formControlName="hashTag"
                                            ngModel="{{createdEventDetails ? createdEventDetails.hashTag : ''}}"
                                            id="hashTag"
                                            [ngClass]="{ 'is-invalid': f.hashTag.touched && f.hashTag.errors }">
                                        <div class="col-md-2" *ngIf="f.hashTag.touched && f.hashTag.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.hashTag.errors.required">EventHashTag is required</div>
                                            <div *ngIf="f.hashTag.errors.minlength">Name must be at least 4 characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Make this event Public or Private?</h5>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="switch1"
                                            formControlName="isPublic">
                                        <label class="custom-control-label" for="switch1">Public</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <img *ngIf="createdEventDetails && createdEventDetails.profilePhoto"
                                    src="{{path}}{{createdEventDetails.profilePhoto}}" class="rounded-circle"
                                    height="100">
                                <div class="col-md-12">
                                    <h5>Upload Profile Photo</h5>
                                    <div class="custom-file">
                                        <input type="file" #profile formControlName="profile" class="form-control"
                                            (change)="addFile($event.target.files)" id="customFile"
                                            accept="image/png, image/jpeg, image/jpg" hidden>
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <h5>Select Last Payment Deadline Date</h5>
                                    <input type="date" name="selectDate" formControlName="deadlineDate"
                                        class="form-control"
                                        ngModel="{{createdEventDetails ? paymentDeadlineDate : ''}}">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <h5>You want to use logistics service of ASO-EBI? </h5>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="switch2"
                                            formControlName="isLogistics">
                                        <label class="custom-control-label" for="switch2">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <!-- <img src="{{path}}{{createdEventDetails.profilePhoto}}" class="rounded-circle" height="100"> -->
                                <div class="col-md-12">
                                    <h5>Choose Theme Photo</h5>
                                    <div class="custom-file">
                                        <input type="file" #background formControlName="background" class="form-control"
                                            (change)="addThemePhoto($event.target.files)" id="customThemeFile"
                                            accept="image/png, image/jpeg, image/jpg, image/gif" hidden>
                                        <label class="custom-file-label" for="customThemeFile">Choose Theme
                                            Photo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="next_step_and_prev_step mt-2">
                                <a href="javascript:void(0);" class="next_step"
                                    (click)="createdEventDetails? updateEvent() : addEvent()"> Next</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <h3><span class="step_number">2</span>Event Activities</h3>
            <div class="step_content">
                <div class="row">
                    <div class="col-12">
                        <!-- <h3>Event Activities</h3> -->
                        <form *ngIf="activityForm" [formGroup]="activityForm" class="user_acc_info">
                            <div formArrayName="activity">
                                <div [formGroupName]="i"
                                    *ngFor="let tech of activityForm.controls.activity.controls; let i = index"
                                    class="single_activity">
                                    <p>activity #{{i+1}}</p>
                                    <div class="col-md-5">
                                        <div class="form_input">
                                            <label>Activity Name *</label>
                                            <input type="text" class="form-control" formControlName="activityName"
                                                placeholder="Enter activity name">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form_input">
                                            <label>Activity Date</label>
                                            <input type="date" class="form-control" formControlName="activityDate">
                                        </div>
                                    </div>
                                    <div>
                                        <input id="eventId" class="form-control" formControlName="eventId"
                                            [(ngModel)]="eventId" hidden>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="remove_row"
                                            *ngIf="activityForm.controls.activity.controls.length>1">
                                            <button type="submit" class="btn btn-primary btn-blobk"
                                                (click)="removeActivityField(i)"><span class="fa fa-minus"></span>
                                                Remove</button>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="add_row">
                                    <button type="button" class="btn float-right btn-primary"
                                        (click)="addActivityField()"><span class="fa fa-plus"></span> Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="next_step_and_prev_step">
                            <a href="javascript:void(0);" class="prev_step">Previous</a>
                            <a href="javascript:void(0);" class="next_step"
                                (click)="createdEventDetails ? updateActivity() : addActivity()">Next</a>
                        </div>
                    </div>
                </div>
            </div>



            <h3><span class="step_number">3</span>Create Group</h3>
            <div class="step_content">
                <div class="row">
                    <div class="col-12">
                        <form *ngIf="groupForm" [formGroup]="groupForm" class="billing_address">
                            <div class="form_input" formArrayName="group">
                                <div class="row" [formGroupName]="i"
                                    *ngFor="let item of groupForm.controls.group.controls; let i = index">
                                    <div class="col-md-12">
                                        <h4>{{getActivityName(item.value.activityId)}}</h4>
                                    </div>
                                    <div class="col-12">
                                        <label>Group Name *</label>
                                        <input type="text" class="form-control" formControlName="groupName"
                                            placeholder="Enter Group Name">
                                    </div>
                                    <!-- {{ item | json }} -->
                                    <h4>Male</h4>
                                    <div class="row" formArrayName="male">
                                        <div [formGroupName]="k"
                                            *ngFor="let group of item.controls.male.controls; let k = index">
                                            <div class="col-8">
                                                <div class="form_input">
                                                    <label>Male</label>
                                                    <div class="form_input">
                                                        <label>Item Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="itemName">
                                                    </div>
                                                    <div class="form_input">
                                                        <label>Item Type</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="itemType">
                                                    </div>
                                                    <div class="form_input">
                                                        <label>Item Price</label>
                                                        <input type="number" class="form-control"
                                                            formControlName="itemPrice">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="add_row">
                                                <button type="button" class="btn float-right btn-primary"
                                                    *ngIf="item.controls.male.controls.length>1"
                                                    (click)="removeItemsMale(item,k)"><span class="fa fa-plus"></span>
                                                    Remove Male</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="add_row">
                                            <button type="button" class="btn float-right btn-primary"
                                                (click)="addItemsMale(item)"><span class="fa fa-plus"></span>
                                                Add Male</button>
                                        </div>
                                    </div>
                                    <h4>Female</h4>
                                    <div class="row" formArrayName="female">
                                            <div [formGroupName]="j"
                                                *ngFor="let group of item.controls.female.controls; let j = index">
                                                <div class="col-8">
                                                    <div class="form_input">
                                                        <label>Female</label>
                                                        <div class="form_input">
                                                            <label>Item Name</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="itemName">
                                                        </div>
                                                        <div class="form_input">
                                                            <label>Item Type</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="itemType">
                                                        </div>
                                                        <div class="form_input">
                                                            <label>Item Price</label>
                                                            <input type="number" class="form-control"
                                                                formControlName="itemPrice">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="add_row">
                                                    <button type="button" class="btn float-right btn-primary"
                                                        *ngIf="item.controls.female.controls.length>1"
                                                        (click)="removeItemsfeMale(item,j)"><span class="fa fa-plus"></span>
                                                        Remove Female</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="add_row">
                                                <button type="button" class="btn float-right btn-primary"
                                                    (click)="addItemsfeMale(item)"><span class="fa fa-plus"></span>
                                                    Add Female</button>
                                            </div>
                                        </div>
                                    <div class="remove_row" *ngIf="groupForm.controls.group.controls.length>1">
                                        <button type="submit" class="btn btn-primary btn-blobk"
                                            (click)="removeGroupField(i)"><span class="fa fa-minus"></span>
                                            Remove Group</button>
                                    </div>
                                    <div class="add_row" *ngIf="groupForm.controls.group.controls.length>0">
                                        <button type="button" class="btn float-right btn-primary"
                                            (click)="createdEventDetails ? AddGroupField(eventActivities[i]._id, i) : AddGroupField(createdActivity[i]._id, i)"><span
                                                class="fa fa-plus"></span> Add Group</button>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </form>
                        <div class="next_step_and_prev_step mt-2">
                            <a href="javascript:void(0);" class="prev_step">Previous</a>
                            <a href="javascript:void(0);" class="next_step"
                                (click)="createdEventDetails ? updateGroup() : addGroup()">Create
                                Event</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>