.active_background {
    border: dotted 5px blue;
    color: #fff;
    width: 50px;
    height: 50px;;
}
a.ui-datepicker-next.ui-corner-all:after {
    content: ">";
    margin: 10px;
}

/* .active_background {
    background-image: url(/assets/images/yes.png);
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
} */

