




<div class="initialStep">
<section class="eventD_page_section d-flex flex-wrap align-content-center">
    <div class="container-fluid">
        <h3 class="text-center">Aso Ebi</h3>
        <div class="eventD_sec1">
            <div class="Join_inner_content_box">
                <div class="all_event_sec">
                    <div class="row">
                        <div class="col-3 m-auto pr-0 float-right new_event_menu">
                            <a><img src="/assets/images/eventD_icon.png">
                                <p class="text-white">New Event</p>
                            </a>
                        </div>
                        <div class="col-9 p-0">
                            <span class="text-white all_event_name"> Hello Rao Info Tech </span>
                        </div>
                    </div>
                </div>
                <div id="overlay1" class="new_event_menu_box" style="display: none;">
                    <div class="">
                        <div class="event_menu">
                            <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                <ul>
                                    <li><a href="eventA.html" class="text-white new_event">my event</a></li>
                                    <li><a href="new_event_slider.html" class="text-white my_event">new event</a></li>
                                    <li><a href="add_bank_account.html" class="text-white my_account">bank account</a>
                                    </li>
                                    <li><a href="reset_password.html" class="text-white my_account">Reset Password</a>
                                    </li>
                                    <li><a href="#" class="text-white my_account">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="evet_sliding">
                    <div class="event_slider1" id="firstSlider">
                        <div class="slide1" *ngFor="let item of myEvent">
                            <div class="slider_box1 text-center m-2" [hidden]="!item.eventTitle">
                                <button class="event_btn"
                                    (click)="allEventList(item._id)">{{item.eventTitle}}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="eventD_input">
                    <input type="text" name="event" placeholder="{{eventHashtag}}" class="event_aso">
                </div>

                <div class="eventD_btn">
                    <div class="row">
                        <button class="event_invitation" (click)="invitation(singleEventDetails._id)">Invitation</button>
                        <button class="event_invitation" (click)="thankYouMessage(eventId)">Payment Thank you</button>
                        <button class="event_invitation" (click)="autoMessage(singleEventDetails._id)">After Event</button>
                    </div>
                </div>

                <div class="eventD_detail text-white">
                    <p>We look forward to having you of the manage collections of Kayode and Your. Kindly pay for aso
                        ebi here. Thank you.</p>
                </div>

                <div class="share_btn text-center">
                    <button class="eventD_share">Share</button>
                </div>

                <div class="collect_detail text-center">
                    <!-- <span *ngFor="let item of activityName"> -->
                    <div class="collect1_img" *ngFor="let item of activityName">
                        <div class="collect_img" (click)="activityDetails(singleEventDetails._id,item._id)">
                            <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                src="{{path}}{{singleEventDetails.profilePhoto}}">
                        </div>
                        <p class="text-white">{{item.activityName}}</p>
                    </div>
                    <!-- </span> -->
                    <div class="collect1_img" (click)="totalCollection(singleEventDetails._id)">
                        <div class="collect_img">
                            <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                src="{{path}}{{singleEventDetails.profilePhoto}}">
                        </div>
                        <p class="text-center text-white">Collected</p>
                    </div>
                    <div class="collect1_img" *ngIf="eventId">
                        <div class="collect_img" (click)="nextSection('seventhStep', 'initialStep')">
                            <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                src="{{path}}{{singleEventDetails.profilePhoto}}">
                        </div>
                        <p class="text-white">Edit Event</p>
                    </div>
                    <div class="collect1_img">
                        <div class="collect_img" (click)="viewMoreDeatils(singleEventDetails._id)">
                            <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                src="{{path}}{{singleEventDetails.profilePhoto}}">
                        </div>
                        <p class="text-white">View Event</p>
                    </div>
                    <div class="collect1_img">
                        <div class="collect_img" (click)="invitation(singleEventDetails._id)">
                            <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                src="{{path}}{{singleEventDetails.profilePhoto}}">
                        </div>
                        <p class="text-white">Invited Guestes</p>
                    </div>
                    <div class="collect1_img">
                        <div class="collect_img" (click)="autoMessage(singleEventDetails._id)">
                            <img *ngIf="singleEventDetails && singleEventDetails.profilePhoto"
                                src="{{path}}{{singleEventDetails.profilePhoto}}">
                        </div>
                        <p class="text-white">Auto Message</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
</div>



<div class="seventhStep" style="display:none">
    <section class="edit_event_section d-flex flex-wrap align-content-center">
        <div class="container-fluid">
            <h3 class="text-center">Aso Ebi</h3>
            <div class="edit_event">
                <div class="event_inner_content_box">
                    <div class="event_inner_content ">
                        <div class="new_event_sec edit_event_new">
                            <div class="row">
                                <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                    <a><img src="/assets/images/edit_event_icon.png">
                                        <p class="text-white">New Event</p>
                                    </a>
                                </div>
                                <div class="col-9 p-0">
                                    <span class="text-white event_name"> Hello {{userName}} </span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="singleEventDetails">
                            <div class="enter_event_title">
                                <h6 class="text-center text-white">Event Hashtag</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="title" [(ngModel)]="eventHashtag"
                                            placeholder="# Enter your event hashtag here.." name="title">
                                    </div>
                                </div>
                            </div>
                            <div class="edit_event_btn">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 edit_info"
                                        (click)="editEventDeatils(singleEventDetails._id)">
                                        <a class="edit_btn text-white  text-center">Edit Information </a>
                                    </div>
                                    <div class="col-sm-6 delete_info col-xs-12"
                                        (click)="deleteEvent(singleEventDetails._id)">
                                        <a class="delete_event_btn text-center">Delete Event</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>