<div class="container">
    <div class="row m-auto pt-5">
        <div class="col-md-4 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">{{eventCount}}</div>
            </div>
            <label class="text-center">Total Events</label>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">{{usersCount}}</div>
            </div>
            <label class="text-center">Total Users</label>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">{{eventCount}}</div>
            </div>
            <label class="text-center">Total Payment</label>
        </div>
    </div>

    <div class="row m-auto pt-5">
            <div class="col-md-4 col-sm-6">
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">{{eventCount}}</div>
                </div>
                <label class="text-center">Total Amount Collected</label>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">{{usersCount}}</div>
                </div>
                <label class="text-center">Total Amount (Logistics)</label>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">{{eventCount}}</div>
                </div>
                <label class="text-center">Total Amount (Commission)</label>
            </div>
        </div>
</div>