
<!-- adminPanel new Design  -->
<div class="admin">
    <section class="admin-card">
        <div class="container-fluid">
            <div class="chart_1">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 text-center">
                        <div id="columnchart_values1" class="chart"></div>
                    </div>
                    <div class="col-xl-6 col-lg-12 text-center">
                        <div id="columnchart_values2" class="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>