<div id="loading">
    <img id="loading-image" src="/assets/images/loader.gif" alt="Loading..." />
</div>

<section class="forgot_pwd_section text-center d-flex flex-wrap align-content-center">
    <div class="container-fluid">
        <h3>Aso Ebi</h3>
        <div class="forgot_password">
            <div class="Join_inner_content_box">
                <div class="inner_content_btn">
                    <a routerLink="/signUp" class="btn_join_pwd float-left">Join</a>
                    <a routerLink="/login" class="btn_enter_pwd text-white float-right">Enter</a>
                </div>
                <form class="join_form forgot_pwd_form " [formGroup]="forgotPasswordForm" autocomplete="off">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" formControlName="newPassword"
                                placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" formControlName="confirmPassword"
                                (input)="comparePassword(forgotPasswordForm)" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="btn_submit_pwd">
                        <button class="btn text-white text-center submit_btn_pwd text-center" type="button" (click)="resetPassword()"
                            [disabled]="forgotPasswordForm.invalid || isDisable">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>