<!-- New Design of my cart  -->
<div id="loading">
    <img id="loading-image" src="/assets/images/loader.gif" alt="Loading..." />
</div>


<div class="step_one" style="display:none">
    <section class="buying_option1_section d-flex flex-wrap align-content-center ">
        <div class="container-fluid">
            <h3 class="text-white text-center Aso_title">Aso Ebi</h3>
            <div class="profile_pic  text-center">
                <img src="/assets/images/profile.png">
            </div>
            <h3 class="text-center text-white user_name" *ngIf="eventDetails"> {{eventDetails.hashTag}}</h3>
            <div class="card_inner_content_box">
                <div class="veiw_event">
                    <div class="event_inner_content">
                        <div class="event_detail_slider">
                            <!-- <div class="event_detail_slide event_detail_slide_blue">
								<div class="events_name text-center">
									<a href="#" class="text-center text-white">Engagement</a>
								</div>
							</div> -->
                            <div class="event_detail_slide event_detail_slide_blue">
                                <div class="events_name text-center">
                                    <a href="#" class="text-center text-white"
                                    *ngIf="eventDetails">{{eventDetails.eventType}}</a>
                                </div>
                            </div>
                            <div class="event_detail_slide event_detail_slide_blue">
                                <div class="events_name text-center">
                                    <a href="#" class="text-center text-white">Gift Donation</a>
                                </div>
                            </div>
                            <div class="event_detail_slide event_detail_slide_blue">
                                <div class="events_name text-center">
                                    <a href="#" class="text-center text-white">Total</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="step_five">
    <section class="buying_option1_section buying_option5_section d-flex flex-wrap align-content-center ">
        <div class="container-fluid">
            <h3 class="text-center text-center Aso_title">Aso Ebi</h3>
            <div class="profile_pic text-center text-center">
                <img src="/assets/images/profile.png">
            </div>
            <h3 class="text-center text-center user_name" *ngIf="eventDetails"> {{eventDetails.hashTag}}</h3>
            <div class="card_inner_content_box5">
                <div class="veiw_event">
                    <div class="event_inner_content">
                        <div class="event_detail_slider">
                            <div class="event_detail_slide event_detail_slide_sky1">
                                <div class="events_name text-center">
                                    <a href="#" class="text-center text-white" *ngIf="eventDetails"  data-toggle="tooltip" title="{{eventDetails.eventType}}">
                                    {{eventDetails.eventType}}</a>
                                </div>
                            </div>
                            <div class="event_detail_slide event_detail_slide_sky1">
                                <div class="events_name text-center">
                                    <a (click)="nextSection('step_four', 'step_five')"
                                    class="text-center text-white" data-toggle="tooltip" title="Gift Donation">Gift Donation</a>
                                </div>
                            </div>
                            <div class="event_detail_slide event_detail_slide_sky1">
                                <div class="events_name text-center">
                                    <a href="#" class="text-center text-white" data-toggle="tooltip" title="Total">Total</a>
                                </div>
                            </div>
                        </div>
                        <div class="radio_btn text-white ">
                            <p class="event_name_new" *ngIf="eventDetails"> {{eventDetails.eventType}}</p>
                            <div class="all_list_height event_prise_detail">
                                <p class="gender_select">Male</p>
                                <div class="row" *ngFor="let item of cartDetails">
                                    <div class="col-7">
                                        <div class="row">
                                            <div class="col-12 p-0" *ngIf="item.itemGender == 'male'">
                                                <div class="all_list">
                                                    <div class="fabric_name float-left">{{item.itemName}} <img
                                                        src="/assets/images/wn.png"> {{item.itemPrice}} </div>
                                                        <div class="float-right">
                                                            <label class=""> x </label>
                                                            <!-- <h1>helooooo</h1> -->
                                                            <!-- {{item.quantity}} -->
                                                            <input type="text" min="1"  
                                                            (click)="finalTotal(item)"
                                                            [(ngModel)]='item.quantity'>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 all_list_total_price" *ngIf="item.itemGender == 'male'">
                                            <div class="row">
                                                <div class="col-12 p-0">
                                                    <div class=" float-right"> = <img src="/assets/images/wn.png">
                                                    {{item.itemPrice * item.quantity }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 p-0" *ngIf="item.itemGender == 'male'">
                                            <div class="delete_item">
                                                <i class="fa fa-times" aria-hidden="true"
                                                (click)="removeItem(item._id)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="gender_select">Female</p>
                                    <div class="row" *ngFor="let item of cartDetails">
                                        <div class="col-7">
                                            <div class="row">
                                                <div class="col-12 p-0" *ngIf="item.itemGender=='female'">
                                                    <div class="all_list">
                                                        <div class="fabric_name float-left"> {{item.itemName}} <img
                                                            src="/assets/images/wn.png"> {{item.itemPrice}} </div>
                                                            <div class="float-right text-white">
                                                                <label class=""> x </label>
                                                                <input type="text" min="1" id="donation"
                                                                (keyup)="finalTotal(item)"
                                                                [(ngModel)]='item.quantity'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 all_list_total_price" *ngIf="item.itemGender=='female'">
                                                <div class="row">
                                                    <div class="col-12 p-0">
                                                        <div class=" float-right"> = <img src="/assets/images/wn.png">
                                                        {{item.itemPrice * item.quantity }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 p-0" *ngIf="item.itemGender=='female'">
                                                <div class="delete_item">
                                                    <i class="fa fa-times" aria-hidden="true"
                                                    (click)="removeItem(item._id)"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="all_total">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div class="float-left">Total</div>
                                                    <div class="fabric_name float-right">= <img src="/assets/images/yn.png">
                                                        {{finalGrandTotal}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="save_and_pay_btn">
                                        <a class="update_btn text-center" (click)="allItem(cartDetails)">Procced</a>
                                        <!-- <a class="paynow_btn text-center" (click)="addDonation()">Add Donation</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>