/* .theme-background{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
} */

.on_off{
    height: 30px;
    width:  30px;
    border-radius: 50%;
    margin-right: 25px;
}
.event-status{
    display: inline-flex;
    width: 100%;
}