<!-- <div class="row">
    <div class="col-md-12" *ngFor="let activity of activitiesCollections">
        <p>ActivityName:{{activity._id}}</p>
        <div class="row">
            <div class="col-md-12" *ngFor="let group of activity.group">
               groupName: {{group.groupName}}
                <div class="row">
                    <div class="col-md-12" *ngFor="let item of group.item">
                           <span *ngIf="item.itemGender=='female' ? getFemaleTotal(item.total) : null">
                               {{ getFemaleTotal(item.total) }}
                           </span>
                           <span *ngIf="item.itemGender=='male' ? getMaleTotal(item.total) : null">
                                {{ getMaleTotal(item.total) }}
                            </span>
                        </div>
                    </div>
                    Female: {{femaleTotal}} 
                    Male: {{maleTotal}} 
            </div>
        </div>
    </div>
</div> -->



<!-- new design  -->

<section class="collection_slider_section d-flex flex-wrap align-content-center">
    <div class="container-fluid">
        <h3 class="text-center">Aso Ebi</h3>
        <!-- collection slider starts -->
        <div class="collection_slider">
            <!-- 1st slide -->
            <div class="coll_slide slide_one" *ngFor="let money of activitiesCollections; let k = index;">
                <div class="event_inner_content_box">
                    <div class="event_inner_content">
                        <div class="new_event_sec">
                            <div class="row">
                                <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                    <a><img src="/assets/images/coll_icon1.png">
                                        <p class="text-white">Collections</p>
                                    </a>
                                </div>
                                <div class="col-9 p-0">
                                    <span class="text-white"> Hello Rao Info Tech </span>
                                </div>
                            </div>
                        </div>
                        <div class="inner_content_btn text-center">
                            <a href="#" class="tom_btn text-white text-center">#TomKat</a>
                        </div>
                        <div class="inner_content_btn total_btn">
                            <a href="join2.html" class="text-white float-left text-center">Total</a>
                            <a href="#" class="text-white float-right text-center">GuestList</a>
                        </div>
                        <h3 class="number text-white text-center"><img src="/assets/images/N.png">2,857,252</h3>
                        <div class="inner_box_content">
                            <div class="inner_title">
                                <h3 class="text-white">{{money._id}} ( <img src="/assets/images/N.png"> Total)</h3>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-3" *ngFor="let group of money.group; let i = index;">
                                        <input type="radio" id="{{k}}{{i}}" name="radio-group"
                                            (change)="handleChange(group)">
                                        <label for="{{k}}{{i}}">{{group.groupName}}</label>
                                    </div>
                                </div>
                                <div class="gender_list text-white">
                                    <div class="row">
                                        <div class="col-4">
                                            <p>Male</p>
                                        </div>
                                        <div class="col-8">
                                            <p><img src="/assets/images/N.png"> {{maleTotal}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <p>Female</p>
                                        </div>
                                        <div class="col-8">
                                            <p><img src="/assets/images/N.png"> {{femaleTotal}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 1st slide end -->
            <!-- 2nd slide -->
            <div class="coll_slide slide_two">
                <div class="event_inner_content_box">
                    <div class="event_inner_content">
                        <div class="new_event_sec">
                            <div class="row">
                                <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                    <a href="#"><img src="/assets/images/icon3.png">
                                        <p class="text-white">Collections</p>
                                    </a>
                                </div>
                                <div class="col-9 p-0">
                                    <span class="text-white"> Hello Rao Info Tech </span>
                                </div>
                            </div>
                        </div>
                        <div class="inner_content_btn text-center">
                            <a href="#" class="tom_btn text-white text-center">#TomKat</a>
                        </div>
                        <div class="inner_content_btn total_btn">
                            <a href="join2.html" class="text-white float-left text-center">Total</a>
                            <a href="#" class="text-white float-right text-center">GuestList</a>
                        </div>
                        <h3 class="number text-white text-center"><img src="/assets/images/N.png">2,897,232</h3>
                        <div class="inner_box_content">
                            <div class="inner_title">
                                <h3 class="text-white">Ceremony 2 ( <img src="/assets/images/N.png"> Total)</h3>
                            </div>
                            <form action="#" class="col_radio">
                                <div class="row">
                                    <div class="col-3">
                                        <input type="radio" id="test4" name="radio-group" checked>
                                        <label for="test4">Family</label>
                                    </div>
                                    <div class="col-3">
                                        <input type="radio" id="test5" name="radio-group">
                                        <label for="test5">Friends</label>
                                    </div>
                                    <div class="col-3">
                                        <input type="radio" id="test6" name="radio-group">
                                        <label for="test6">Society</label>
                                    </div>
                                </div>
                            </form>
                            <div class="gender_list text-white">
                                <div class="row">
                                    <div class="col-4">
                                        <p>Male</p>
                                    </div>
                                    <div class="col-8">
                                        <p><img src="/assets/images/N.png"> 112,300</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p>Female</p>
                                    </div>
                                    <div class="col-8">
                                        <p><img src="/assets/images/N.png"> 200,005</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2nd slide end -->
            <!-- 3rd slide -->
            <div class="coll_slide slide_three">
                <div class="event_inner_content_box">
                    <div class="event_inner_content">
                        <div class="new_event_sec">
                            <div class="row">
                                <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                    <a href="#"><img src="/assets/images/icon11.png">
                                        <p class="text-white">Collections</p>
                                    </a>
                                </div>
                                <div class="col-9 p-0">
                                    <span class="text-white"> Hello Rao Info Tech </span>
                                </div>
                            </div>
                        </div>
                        <!-- <div id="overlay" class="new_event_menu_box" style="display: none;">
                                    <div class="">
                                        <div class="event_menu">
                                            <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                                <ul>
                                                    <li><a href="eventA.html" class="text-white new_event">my event</a></li>
                                                    <li><a href="new_event_slider.html" class="text-white my_event">new event</a></li>
                                                    <li><a href="add_bank_account.html" class="text-white my_account">bank account</a></li>
                                                    <li><a href="reset_password.html" class="text-white my_account">Reset Password</a></li>
                                                    <li><a href="#" class="text-white my_account">Logout</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                        <div class="inner_content_btn text-center">
                            <a href="#" class="tom_btn text-white text-center">#TomKat</a>
                        </div>
                        <div class="inner_content_btn total_btn">
                            <a href="join2.html" class="text-white float-left text-center">Total</a>
                            <a href="#" class="text-white float-right text-center">GuestList</a>
                        </div>
                        <h3 class="number text-white text-center"><img src="/assets/images/N.png">2,897,232</h3>
                        <div class="inner_box_content">
                            <div class="inner_title">
                                <h3 class="text-white">Gifts</h3>
                            </div>
                            <form action="#" class="col_radio">
                                <div class="row">
                                    <div class="col-3">
                                        <input type="radio" id="test7" name="radio-group">
                                        <label for="test7">Family</label>
                                    </div>
                                    <div class="col-3">
                                        <input type="radio" id="test8" name="radio-group" checked>
                                        <label for="test8">Friends</label>
                                    </div>
                                    <div class="col-3">
                                        <input type="radio" id="test9" name="radio-group">
                                        <label for="test9">Society</label>
                                    </div>
                                </div>
                            </form>
                            <div class="gender_list text-white">
                                <div class="row">
                                    <div class="col-4">
                                        <p>Male</p>
                                    </div>
                                    <div class="col-8">
                                        <p><img src="/assets/images/N.png"> 152,000</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p>Female</p>
                                    </div>
                                    <div class="col-8">
                                        <p><img src="/assets/images/N.png"> 98,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3rd slide end -->
            <!-- 4th slide -->
            <div class="coll_slide slide_four">
                <div class="event_inner_content_box">
                    <div class="event_inner_content">
                        <div class="new_event_sec">
                            <div class="row">
                                <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                    <a href="#"><img src="/assets/images/coll_icon4.png">
                                        <p class="text-white">Collections</p>
                                    </a>
                                </div>
                                <div class="col-9 p-0">
                                    <span class="text-white"> Hello Rao Info Tech </span>
                                </div>
                            </div>
                        </div>
                        <!-- <div id="overlay" class="new_event_menu_box" style="display: none;">
                                        <div class="">
                                            <div class="event_menu">
                                                <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                                    <ul>
                                                        <li><a href="eventA.html" class="text-white new_event">my event</a></li>
                                                        <li><a href="new_event_slider.html" class="text-white my_event">new event</a></li>
                                                        <li><a href="add_bank_account.html" class="text-white my_account">bank account</a></li>
                                                        <li><a href="reset_password.html" class="text-white my_account">Reset Password</a></li>
                                                        <li><a href="#" class="text-white my_account">Logout</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                        <div class="inner_content_btn text-center">
                            <a href="#" class="tom_btn text-white text-center">#TomKat</a>
                        </div>
                        <div class="inner_content_btn total_btn">
                            <a href="join2.html" class="text-white float-left text-center">Total</a>
                            <a href="#" class="text-white float-right text-center">GuestList</a>
                        </div>
                        <h3 class="number text-white text-center"><img src="/assets/images/N.png">2,897,232</h3>
                        <div class="inner_box_content">
                            <div class="gender_list text-white">
                                <div class="row">
                                    <div class="col-5">
                                        <p>All activities</p>
                                    </div>
                                    <div class="col-7">
                                        <p><img src="/assets/images/N.png"> 1,73,584</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Gift donations</p>
                                    </div>
                                    <div class="col-7">
                                        <p><img src="/assets/images/N.png"> 1,165/078</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 4th slide end -->
            <!-- 5th slide -->
            <div class="coll_slide slide_five">
                <div class="event_inner_content_box">
                    <div class="event_inner_content">
                        <div class="new_event_sec">
                            <div class="row">
                                <div class="col-3 m-auto pr-0 float-right new_event_menu">
                                    <a href="#"><img src="/assets/images/coll_icon5.png">
                                        <p class="text-white">Collections</p>
                                    </a>
                                </div>
                                <div class="col-9 p-0">
                                    <span class="text-white"> Hello Rao Info Tech </span>
                                </div>
                            </div>
                        </div>
                        <!-- <div id="overlay" class="new_event_menu_box" style="display: none;">
                                            <div class="">
                                                <div class="event_menu">
                                                    <div class="all_menu_content  d-flex flex-wrap align-content-center">
                                                        <ul>
                                                            <li><a href="#" class="text-white new_event">my event</a></li>
                                                            <li><a href="#" class="text-white my_event">new event</a></li>
                                                            <li><a href="#" class="text-white my_account">bank account</a></li>
                                                            <li><a href="#" class="text-white my_account">Reset Password</a></li>
                                                            <li><a href="#" class="text-white my_account">Logout</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                        <div class="inner_content_btn text-center">
                            <a href="#" class="tom_btn text-white text-center">#TomKat</a>
                        </div>
                        <div class="inner_content_btn total_btn">
                            <a href="join2.html" class="text-white float-left text-center">Total</a>
                            <a href="#" class="text-white float-right text-center">GuestList</a>
                        </div>
                        <h3 class="number text-white text-center"><a href="#"><img
                                    src="/assets/images/search.png"></a><a href="#"><img
                                    src="/assets/images/download.png"></a> Share point. 412</h3>
                        <div class="inner_box_content">
                            <div class="scrollbar-rail scroll_content">
                                <div class="five_border">
                                    <div class="inner_title">
                                        <h3 class="text-white"><span>TA</span> Tolani Aso Ebi</h3>
                                    </div>
                                    <div class="gender_list text-white">
                                        <div class="list1">
                                            <p>1 lorem ipsum <img src="/assets/images/N.png"> 15000</p>
                                            <p>1 fabric from wedding <img src="/assets/images/N.png"> 15000</p>
                                        </div>
                                        <div class="list2">
                                            <p>22 lorem ipsum dolor 0135160812</p>
                                            <p>To asoebi@gmail.com</p>
                                        </div>
                                    </div>

                                    <div class="inner_title">
                                        <h3 class="text-white"><span>AE</span>Aso Ebi</h3>
                                    </div>
                                    <div class="gender_list text-white">
                                        <div class="list1">
                                            <p>1 lorem ipsum <img src="/assets/images/N.png"> 15000</p>
                                            <p>1 fabric from wedding <img src="/assets/images/N.png"> 15000</p>
                                        </div>
                                        <div class="list2">
                                            <p>22 lorem ipsum dolor 0135160812</p>
                                            <p>To asoebi@gmail.com</p>
                                        </div>
                                    </div>

                                    <div class="inner_title">
                                        <h3 class="text-white"><span>LA</span> Loram Aso Ebi</h3>
                                    </div>
                                    <div class="gender_list text-white">
                                        <div class="list1">
                                            <p>1 lorem ipsum <img src="/assets/images/N.png"> 15000</p>
                                            <p>1 fabric from wedding <img src="/assets/images/N.png"> 15000</p>
                                        </div>
                                        <div class="list2">
                                            <p>22 lorem ipsum dolor 0135160812</p>
                                            <p>To asoebi@gmail.com</p>
                                        </div>
                                    </div>

                                    <div class="inner_title">
                                        <h3 class="text-white"><span>IA</span> Ipsum Aso Ebi</h3>
                                    </div>
                                    <div class="gender_list text-white">
                                        <div class="list1">
                                            <p>1 lorem ipsum <img src="/assets/images/N.png"> 15000</p>
                                            <p>1 fabric from wedding <img src="/assets/images/N.png"> 15000</p>
                                        </div>
                                        <div class="list2">
                                            <p>22 lorem ipsum dolor 0135160812</p>
                                            <p>To asoebi@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 5th slide end -->
        </div>
        <!-- collection slider ends -->
        <div id="overlay" class="new_event_menu_box" style="display: none;">
            <div class="m-auto pr-0 float-left new_event_menu slider_overlay">
                <a class="text-white "><img src="/assets/images/overlay.png">
                    <p>Collections</p>
                </a>
            </div>
            <div class="">
                <div class="event_menu">
                    <div class="all_menu_content  d-flex flex-wrap align-content-center">
                        <ul>
                            <li><a href="eventA.html" class="text-white new_event">my event</a></li>
                            <li><a href="new_event_slider.html" class="text-white my_event">new event</a>
                            </li>
                            <li><a href="add_bank_account.html" class="text-white my_account">bank
                                    account</a></li>
                            <li><a href="reset_password.html" class="text-white my_account">Reset
                                    Password</a></li>
                            <li><a href="#" class="text-white my_account">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>