<div class="row">
    <div class="col-md-12" *ngFor="let activity of activitiesCollections">
        <p>ActivityName:{{activity._id}}</p>
        <div class="row">
            <div class="col-md-12" *ngFor="let group of activity.group">
               groupName: {{group.groupName}}
                <div class="row">
                    <div class="col-md-12" *ngFor="let item of group.item">
                           <span *ngIf="item.itemGender=='female' ? getFemaleTotal(item.total) : null">
                               <!-- {{ getFemaleTotal(item.total) }} -->
                           </span>
                           <span *ngIf="item.itemGender=='male' ? getMaleTotal(item.total) : null">
                                <!-- {{ getMaleTotal(item.total) }} -->
                            </span>
                        </div>
                    </div>
                    Female: {{femaleTotal}} 
                    Male: {{maleTotal}} 
            </div>
        </div>
    </div>
</div>